include ../mixins/basket-catalog-item.pug
- var products = [
- 	{name: 'Мини филадельфия', mod: 'Креветка', components: 'Лосось в кляре / краб-крем / авокадо / блин яичный / соус лава / соус манго Чили', price: 150, amount: 10, total: '21 500'},
- 	{name: 'Мини филадельфия', components: 'Лосось в кляре / краб-крем / авокадо / блин яичный / соус лава / соус манго Чили', price: 150, amount: 10, total: '1 500'},
- 	{name: 'Мини филадельфия', components: 'Лосось в кляре / краб-крем / авокадо / блин яичный / соус лава / соус манго Чили', price: 150, amount: 10, total: '1 500'},
- 	{name: 'Мини филадельфия', components: 'Лосось в кляре / краб-крем / авокадо / блин яичный / соус лава / соус манго Чили', price: 0, total: 'free'}
- ];

ul.ul.basket-catalog
	each product, id in products
		+basket-catalog-item(id, product)