- var products = [
- 	{name: 'Два императорских ролла с курицей', price: 249, amount: 2},
- 	{name: 'Две тортильи с овощами', price: 138, amount: 4},
- 	{name: 'Два императорских ролла с курицей', price: 249, amount: 1},
- 	{name: 'Акари', price: 50, amount: 1},
- ]

.checkout-final-basket
	h2 Данные вашего заказа
	.checkout-final-basket__table
		.checkout-final-basket__header
			strong Наименование
			strong Цена, руб.
			strong Количество
			strong Сумма, руб.
		.checkout-final-basket__body
			each product in products
				.checkout-final-basket__row
					.checkout-final-basket__name
						img(src="./images/dev/header-basket-product-1.png", alt="")
						span= product.name
					.checkout-final-basket__price= product.price
					.checkout-final-basket__amount= product.amount
					.checkout-final-basket__sum= product.price * product.amount