.checkout-total
	.checkout-total-wrap
		ul.ul.checkout-total__list
			li
				span Сумма заказа
				span 2 150 рублей
			li
				span Оплата бонусами
				span.color-red -96 рублей
			li
				span Скидка: 
				span.color-red -150 рублей
			li
				span Доставка: 
				span 100 рублей

		hr

		.checkout-total__sum
			strong Итого к оплате:
			strong 
				| 2 004
				i.icon-rub

		.checkout-total__bonus
			span Бонусов получите:
			strong +25 Б
		
		button.btn.btn_type_gradient-red.checkout-total__submit
			span Посмотреть историю заказов