footer.footer
	.footer-main
		.container.footer-main-wrap
			.footer-main-content
				.footer-main-content-all
					p
						| Доставка суши и роллов 
						br
						|  в Красноярске и Железногорске
					.footer-main-content__time КАЖДЫЙ ДЕНЬ 10:00-23:30
					a.footer-main-content__phone(href='tel:2287101') 228 71 01
					.footer-main-content__social
						a(href='javascript:void(0);')
							svg(width='48', height='48', viewBox='0 0 48 48', fill='none', xmlns='http://www.w3.org/2000/svg')
								g(id='Vkontakte (VK)')
									g(id='Vkontakte (VK)_2')
										rect#Rectangle(width='48', height='48', rx='5', fill='#2C2C2C')
										path#Vector(fill-rule='evenodd', clip-rule='evenodd', d='M39.2658 16.5348C39.4884 15.7932 39.2658 15.248 38.2071 15.248H34.7062C33.816 15.248 33.4059 15.7189 33.1834 16.2383C33.1834 16.2383 31.403 20.5775 28.8809 23.3962C28.0649 24.2121 27.6941 24.4715 27.249 24.4715C27.0264 24.4715 26.7044 24.2121 26.7044 23.4705V16.5348C26.7044 15.6446 26.4461 15.248 25.7041 15.248H20.2028C19.6467 15.248 19.3121 15.6611 19.3121 16.0527C19.3121 16.8967 20.5729 17.0912 20.703 19.4648V24.6202C20.703 25.7505 20.4989 25.9555 20.0538 25.9555C18.867 25.9555 15.9804 21.5965 14.268 16.6091C13.9324 15.6396 13.5958 15.248 12.7011 15.248H9.20028C8.20005 15.248 8 15.7189 8 16.2383C8 17.1655 9.18703 21.7646 13.5263 27.847C16.4195 32.0005 20.4949 34.2525 24.2038 34.2525C26.4293 34.2525 26.7044 33.7524 26.7044 32.8909V29.7514C26.7044 28.7512 26.9152 28.5517 27.6196 28.5517C28.1392 28.5517 29.0292 28.8112 31.1064 30.8139C33.4799 33.1872 33.871 34.2525 35.2064 34.2525H38.7072C39.7074 34.2525 40.2075 33.7524 39.919 32.7654C39.6034 31.7817 38.4701 30.3548 36.9663 28.6629C36.1503 27.6985 34.9263 26.66 34.5557 26.1408C34.0363 25.4732 34.1846 25.1766 34.5557 24.5835C34.5557 24.5835 38.8207 18.5751 39.2658 16.5351V16.5348Z', fill='white')
						a(href='javascript:void(0);')
							svg(width='48', height='48', viewBox='0 0 48 48', fill='none', xmlns='http://www.w3.org/2000/svg')
								g#Instagram
									g#Instagram_2
										rect#Rectangle(width='48', height='48', rx='5', fill='#2C2C2C')
										path#Vector(d='M19.0008 24C19.0008 21.2387 21.2387 18.9996 24 18.9996C26.7613 18.9996 29.0004 21.2387 29.0004 24C29.0004 26.7613 26.7613 29.0004 24 29.0004C21.2387 29.0004 19.0008 26.7613 19.0008 24ZM16.2977 24C16.2977 28.254 19.746 31.7023 24 31.7023C28.254 31.7023 31.7023 28.254 31.7023 24C31.7023 19.746 28.254 16.2977 24 16.2977C19.746 16.2977 16.2977 19.746 16.2977 24ZM30.2072 15.9923C30.2071 16.3483 30.3125 16.6963 30.5102 16.9924C30.7079 17.2885 30.9889 17.5193 31.3177 17.6557C31.6466 17.7921 32.0085 17.8279 32.3577 17.7586C32.7069 17.6892 33.0277 17.5179 33.2795 17.2663C33.5314 17.0147 33.7029 16.694 33.7725 16.3449C33.8421 15.9957 33.8066 15.6338 33.6705 15.3048C33.5344 14.9759 33.3038 14.6947 33.0079 14.4968C32.7119 14.2989 32.364 14.1931 32.008 14.193H32.0072C31.53 14.1932 31.0724 14.3828 30.7349 14.7202C30.3974 15.0576 30.2077 15.5151 30.2072 15.9923ZM17.94 36.2096C16.4776 36.143 15.6827 35.8994 15.1544 35.6936C14.4541 35.421 13.9544 35.0963 13.4291 34.5716C12.9037 34.047 12.5785 33.5478 12.3071 32.8475C12.1012 32.3195 11.8576 31.5244 11.7911 30.0619C11.7184 28.4808 11.7038 28.0058 11.7038 24.0001C11.7038 19.9944 11.7196 19.5208 11.7911 17.9383C11.8577 16.4759 12.1031 15.6823 12.3071 15.1528C12.5797 14.4524 12.9044 13.9528 13.4291 13.4274C13.9537 12.902 14.4529 12.5768 15.1544 12.3054C15.6824 12.0995 16.4776 11.8559 17.94 11.7894C19.5211 11.7167 19.9961 11.7022 24 11.7022C28.0039 11.7022 28.4794 11.7179 30.0618 11.7894C31.5242 11.856 32.3178 12.1014 32.8474 12.3054C33.5477 12.5768 34.0474 12.9028 34.5727 13.4274C35.0981 13.952 35.4221 14.4524 35.6947 15.1528C35.9006 15.6808 36.1442 16.4759 36.2107 17.9383C36.2834 19.5208 36.298 19.9944 36.298 24.0001C36.298 28.0058 36.2834 28.4795 36.2107 30.0619C36.1441 31.5244 35.8993 32.3192 35.6947 32.8475C35.4221 33.5478 35.0974 34.0475 34.5727 34.5716C34.0481 35.0958 33.5477 35.421 32.8474 35.6936C32.3194 35.8996 31.5242 36.1432 30.0618 36.2096C28.4807 36.2824 28.0057 36.2969 24 36.2969C19.9943 36.2969 19.5206 36.2824 17.94 36.2096ZM17.8158 9.09084C16.219 9.16356 15.1278 9.41676 14.1749 9.78756C13.188 10.1705 12.3526 10.6842 11.5177 11.5177C10.6829 12.3512 10.1705 13.188 9.78756 14.1749C9.41676 15.1284 9.16356 16.219 9.09084 17.8158C9.01692 19.4152 9 19.9265 9 24C9 28.0735 9.01692 28.5848 9.09084 30.1842C9.16356 31.7812 9.41676 32.8716 9.78756 33.8251C10.1705 34.8114 10.683 35.6491 11.5177 36.4823C12.3524 37.3154 13.188 37.8284 14.1749 38.2124C15.1296 38.5832 16.219 38.8364 17.8158 38.9092C19.416 38.9819 19.9265 39 24 39C28.0735 39 28.5848 38.9831 30.1842 38.9092C31.7812 38.8364 32.8716 38.5832 33.8251 38.2124C34.8114 37.8284 35.6474 37.3158 36.4823 36.4823C37.3171 35.6488 37.8284 34.8114 38.2124 33.8251C38.5832 32.8716 38.8376 31.781 38.9092 30.1842C38.9819 28.5836 38.9988 28.0735 38.9988 24C38.9988 19.9265 38.9819 19.4152 38.9092 17.8158C38.8364 16.2188 38.5832 15.1278 38.2124 14.1749C37.8284 13.1886 37.3158 12.3526 36.4823 11.5177C35.6488 10.6829 34.8114 10.1705 33.8263 9.78756C32.8716 9.41676 31.781 9.16236 30.1854 9.09084C28.586 9.01812 28.0747 9 24.0012 9C19.9277 9 19.416 9.01692 17.8158 9.09084Z', fill='white')
					.footer-main-content__apps
						a(href='javascript:void(0);')
							i.icon-app__google-play
						a(href='javascript:void(0);')
							i.icon-app__app-store
					p
						| ИП Такойтович
						br
						| 							ИНН 322342342
						br
						| 							ОГРНИП 23423432452233
				.footer-main-content-list.footer-main-content-list_type_nav
					h5.footer-main-content-list__title
						span СушиSELL
					ul
						li
							a(href='javascript:void(0);') О нас
						li
							a(href='javascript:void(0);') Вакансии
						li
							a(href='javascript:void(0);') Доставка
						li
							a(href='javascript:void(0);') Акции
						li
							a(href='javascript:void(0);') Бонусы
				.footer-main-content-list.footer-main-content-list_type_menu
					h5.footer-main-content-list__title
						span Меню с доставкой
					ul
						li
							a(href='javascript:void(0);') Роллы
						li
							a(href='javascript:void(0);') Суши
						li
							a(href='javascript:void(0);') Наборы
						li
							a(href='javascript:void(0);') Запечённые
						li
							a(href='javascript:void(0);') Горячее
						li
							a(href='javascript:void(0);') Бизнес-ланч
						li
							a(href='javascript:void(0);') Десерты
						li
							a(href='javascript:void(0);') Напитки
						li
							a(href='javascript:void(0);') Разное
				.footer-main-content-list.footer-main-content-list_type_address
					h5.footer-main-content-list__title
						span Адрес
					ul
						li ул. 9 мая, 6
						li ул. Сопочная, 36
						li ул. Борисевича, 30А
						li ул. Вавилова, 23
						li ул. Линейная, 105
						li ул. Карамзина, 21
						li ул. Лесопарковая, 9
						li пр. 60 лет образования СССР, 26а
						li г. Железногорск, ул. Свердлова, 43
			p
				| Информация на сайте носит справочный характер и не является публичной офертой. Скидки, подарки и акции не
				| суммируются!
				br
				| 					Подробности у наших операторов. Оформление, цена и состав блюд могут отличаться от представленных на сайте.
	.footer-bottom
		.container.footer-bottom-wrap
			a.footer-policy_link.footer-bottom__policy(href='javascript:void(0);') Политика конфиденциальности
			p.footer-bottom__copy 2018 © СУШИСЕЛЛ.РФ
			.footer-bottom__developer
				p Разработка и дизайн:
				a(href='https://www.cyber-nevod.ru/')
					img(src='/images/logo_CN.svg', alt='Cyber-Nevod')