header.header
	.container.header-wrap
		.header-cashback
			a.header-cashback__link(href='javascript:void(0);')
				img(src="./images/header-bear.png" width="147")
		.header-top
			a.header__logo(href='javascript:void(0);')
				img(src='/images/logo.svg', alt='СушиSELL')
			nav.header-top-menu
				ul.ul.header-top-menu__list
					li
						a(href='javascript:void(0);') Акции
					li
						a(href='javascript:void(0);') Бонусы
					li
						a(href='javascript:void(0);') Доставка
					li
						a(href='javascript:void(0);') Адреса
			.header-top-right
				.header-cities
					a.header-cities__current(href="javascript:void(0);") 
						i.icon-map-marker
						span Красноярск
					ul.ul.header__list-cities
						li(aria-selected="false")
							a(href="javascript:void(0);") Ачинск
						li(aria-selected="true")
							a(href="javascript:void(0);") Красноярск
						li(aria-selected="false")
							a(href="javascript:void(0);") Желзногорск
				button.header-top__sign-in(href="javascript:void(0);") 
					span
						i.icon-user
						| Войти
				a.header__tel(href='tel:+73912287101') 228 71 01
				a.header__basket-mob(href="javascript:void(0);")
					i.svg-icon-basket
					span 12
				button#header-burger.header__burger
					i
					i
					i

		.header-bottom
			nav.header-bottom-menu
				ul.ul.header-bottom-menu__list(data-simplebar)
					li.active
						a(href='javascript:void(0);') Роллы
					li
						a(href='javascript:void(0);') Суши
					li
						a(href='javascript:void(0);') Наборы
					li
						a(href='javascript:void(0);') Запечённые
					li
						a(href='javascript:void(0);') Горячее
					li
						a(href='javascript:void(0);') Бизнес-ланч
					li
						a(href='javascript:void(0);') Десерты
					li
						a(href='javascript:void(0);') Напитки
					li
						a(href='javascript:void(0);') Разное
			.header__basket
				a.header__btn-basket(href='javascript:void(0);')
					span 
						| 4 999
						i.icon-rub
					i.svg-icon-basket
						span.header__basket-count 12
				include header-basket.pug

	include ./mobile-menu.pug