include ../mixins/header-basket-product.pug
- var products = [
- 	{img: "./images/dev/header-basket-product-1.png", name: 'Мини филадельфия', modificator: 'Креветка', sum: '1 399'},
- 	{img: "./images/dev/header-basket-product-2.png", name: 'Императорский с курицей', composition: 'Мистер Крабс, Цезарь с курицей, Запечённый с крабом, Калифорния темпура', sum: '6 568'},
- 	{img: "./images/dev/header-basket-product-1.png", name: 'Два императорских ролла', sum: '1 999'}
- ];

.header-basket
	.header-basket__wrap
		.header-basket-notify
			.header-basket-notify__text
				| Добавь в корзину на 
				strong.color-red 215 руб 
				| и получи ролл 
				strong.color-green «Калифорния лайт» в подарок
		.header-basket-products
			.header-basket-products__list
				each product in products
					+header-basket-product(product)
			.header-basket-products__total
				.header-basket-products__total-text Итоговая сумма:
				.header-basket-products__total-sum 
					span 2 004
					i.icon-rub
				button.btn.btn_type_gradient-red.btn_size_sm
					span Оформить заказ