include ../mixins/catalog-product.pug
include ../mixins/catalog-product-composite.pug
- var catalogProducts = [{
- 		tags: ['discount', 'fire'], 
- 		name: 'Мини филадельфия', 
- 		components: 'Лосось в кляре / краб-крем / авокадо / блин яичный / соус лава / соус манго Чили', 
- 		price: '4 999', 
- 		mods: ['Креветка', 'Огурец', 'Классика'], 
- 		portion: 5250
- }, {
- 		tags: [], 
- 		img: './images/dev/composite.png',
- 		name: 'Собери сам', 
- 		components: '4 ролла на выбор', 
-			count: 4,
-			foods: '1,2,3,4,5,7,8,9,10,11,13,14,15,16,17',
- 		price: '4 999', 
- 		mods: [],
- 		portion: 5250,
- }, {
- 		tags: ['hit', 'new'], 
- 		name: 'Жареная тортилья с беконом и курицей', 
- 		components: 'Лосось в кляре / краб-крем / авокадо / блин яичный / соус лава / соус манго Чили', 
- 		price: '4 999', 
- 		mods: [],
- 		portion: 5250
- }, {
- 		tags: ['onion', 'salad'], 
- 		name: 'Мини филадельфия', 
- 		components: 'Лосось в кляре / краб-крем / авокадо / блин яичный / соус лава / соус манго Чили', 
- 		price: '4 999', 
- 		mods: ['Креветка', 'Огурец', 'Классика'], 
- 		portion: 5250
- }, {
- 		tags: [], 
- 		name: 'Мини филадельфия', 
- 		components: 'Лосось в кляре / краб-крем / авокадо / блин яичный / соус лава / соус манго Чили', 
- 		price: '4 999', 
- 		mods: ['Креветка', 'Огурец', 'Классика'], 
- 		portion: 5250
- }, {
- 		tags: [], 
- 		name: 'Мини филадельфия', 
- 		components: 'Лосось в кляре / краб-крем / авокадо / блин яичный / соус лава / соус манго Чили', 
- 		price: '4 999', 
- 		mods: [],
- 		portion: 5250
- }, {
- 		tags: [], 
- 		name: 'Мини филадельфия', 
- 		components: 'Лосось в кляре / краб-крем / авокадо / блин яичный / соус лава / соус манго Чили', 
- 		price: '4 999', 
- 		mods: ['Креветка', 'Огурец', 'Классика'],
- 		portion: 5250
- }, {
- 		tags: [], 
- 		name: 'Мини филадельфия', 
- 		components: 'Лосось в кляре / краб-крем / авокадо / блин яичный / соус лава / соус манго Чили', 
- 		price: '4 999', 
- 		mods: [],
- 		portion: 5250
- }];

.category
	h2.h1.category__title Роллы
	.products
		ul.ul.products-list
			+catalog-product(606, catalogProducts[0], 'cat-1')
			+catalog-product-composite(470, catalogProducts[1])
			+catalog-product(320, catalogProducts[2], 'cat-1')
			+catalog-product(3, catalogProducts[3], 'cat-1')
			+catalog-product(4, catalogProducts[4], 'cat-1')
			.product-card-promo
				a(href="javascript:void(0);")
					img(src="./images/dev/product-banner.png")
			+catalog-product(5, catalogProducts[5], 'cat-1')
			+catalog-product(6, catalogProducts[6], 'cat-1')
.category
	h2.h1.category__title Наборы
	.products
		ul.ul.products-list
			+catalog-product(606, catalogProducts[0], 'cat-2')
			+catalog-product-composite(470, catalogProducts[1])
			+catalog-product(320, catalogProducts[2], 'cat-2')
			+catalog-product(3, catalogProducts[3], 'cat-2')
			+catalog-product(4, catalogProducts[4], 'cat-2')
			.product-card-promo
				a(href="javascript:void(0);")
					img(src="./images/dev/product-banner.png")
			+catalog-product(5, catalogProducts[5], 'cat-2')
			+catalog-product(6, catalogProducts[6], 'cat-2')