#mobile-menu.mobile-menu(aria-expanded="false")
	.mobile-menu-section
		.mobile-menu-sign-in
			a.btn.btn_type_green-outline
				span Войти
			.cb-select
				select
					option(value="Красноярск") Красноярск
					option(value="Красноярск") Красноярск
					option(value="Красноярск") Красноярск
					option(value="Красноярск") Красноярск
	.mobile-menu-section
		nav.mobile-menu-nav
			ul.ul
				li
					a(href="javascript:void(0);") О нас
				li
					a(href="javascript:void(0);") Вакансии
				li
					a(href="javascript:void(0);") Доставка
				li
					a(href="javascript:void(0);") Акции
				li
					a(href="javascript:void(0);") Бонусы
				li
					a(href="javascript:void(0);") Адреса
	.mobile-menu-section
		a.mobile-menu__tel(href="javascript:void(0);")
			| +7 (391) 
			strong 228-71-01
		.mobile-menu__time 10:00 - 23:30 без выходных
	.mobile-menu-section
		.mobile-menu-social
			a.mobile-menu-social__link(href="javascript;void(0);")
				i.icon-instagram
			a.mobile-menu-social__link(href="javascript;void(0);")
				i.icon-vk
	.mobile-menu-section
		.mobile-menu-apps
			span Закажи через приложение, получи заказ быстрее
			a(href='javascript:void(0);')
				i.icon-app__google-play
			a(href='javascript:void(0);')
				i.icon-app__app-store