.offer-bar(data-max="2600")
	.container
		a.magnific-popup(href="#modal-gift-product")
			.offer-bar__text Ролл в подарок
			.offer-bar-scale
				.offer-bar-scale__bg
				.offer-bar-scale__current
				.offer-bar-scale__markers
					.offer-bar-scale__marker(data-value="1200")
						span
							i.svg-icon-check
							| 1200
							i.icon-rub
					.offer-bar-scale__marker(data-value="1600")
						span
							i.svg-icon-check
							| 1600
							i.icon-rub
					.offer-bar-scale__marker(data-value="2300")
						span
							i.svg-icon-check
							| 2300
							i.icon-rub

include ./modals/modal-gift.pug