#modal-composite-product.cb-modal.mfp-hide.modal-composite-product
	.cb-modal-wrap
		.h1.modal-composite-product__title
			| ДОБАВЬТЕ БЛЮДА В НАБОР 
			span.color-red 0/4
		p Процент кэшбека зависит от суммы ваших заказов
		.modal-composite-product__list-wrap
			ul.ul.modal-composite-product__list
				li
					a.product-item(href="javascript:void(0);" aria-selected="false" data-product-id="101")
						i.icon-svg-check
						.product-item__img
							img(src='./images/dev/product-item.png')
						.product-item__content
							span.product-item__name Мини филадельфия
							span.product-item__components Лосось в кляре / краб-крем / авокадо / блин яичный / соус лава / соус манго Чили
				li
					a.product-item(href="javascript:void(0);" aria-selected="false" data-product-id="102")
						i.icon-svg-check
						.product-item__img
							img(src='./images/dev/product-item.png')
						.product-item__content
							span.product-item__name Мини филадельфия
							span.product-item__components Лосось в кляре / краб-крем / авокадо / блин яичный / соус лава / соус манго Чили
				li
					a.product-item(href="javascript:void(0);" aria-selected="false" data-product-id="103")
						i.icon-svg-check
						.product-item__img
							img(src='./images/dev/product-item.png')
						.product-item__content
							span.product-item__name Мини филадельфия
							span.product-item__components Лосось в кляре / краб-крем / авокадо / блин яичный / соус лава / соус манго Чили
				li
					a.product-item(href="javascript:void(0);" aria-selected="false" data-product-id="104")
						i.icon-svg-check
						.product-item__img
							img(src='./images/dev/product-item.png')
						.product-item__content
							span.product-item__name Мини филадельфия
							span.product-item__components Лосось в кляре / краб-крем / авокадо / блин яичный / соус лава / соус манго Чили
				li
					a.product-item(href="javascript:void(0);" aria-selected="false" data-product-id="105")
						i.icon-svg-check
						.product-item__img
							img(src='./images/dev/product-item.png')
						.product-item__content
							span.product-item__name Мини филадельфия
							span.product-item__components Лосось в кляре / краб-крем / авокадо / блин яичный / соус лава / соус манго Чили
				li
					a.product-item(href="javascript:void(0);" aria-selected="false" data-product-id="106")
						i.icon-svg-check
						.product-item__img
							img(src='./images/dev/product-item.png')
						.product-item__content
							span.product-item__name Мини филадельфия
							span.product-item__components Лосось в кляре / краб-крем / авокадо / блин яичный / соус лава / соус манго Чили
		button.btn.btn_type_gradient-red.modal-composite-product__submit.full-width 
			span Добавить в корзину