#modal-gift-product.cb-modal.mfp-hide.modal-gift-product
	button.mfp-close(title="Закрыть", type="button") ×
	.cb-modal-wrap
		.h1.modal-composite-product__title Ролл в подарок
		p Добавим подарок в корзину при сумме заказа
		.modal-gift-product__list-wrap
			ul.ul.modal-gift-product__list
				li
					.product-item
						.product-item__price 
							| от 1 200
							i.icon-rub
						.product-item__img
							img(src='./images/dev/product-item.png')
						.product-item__content
							span.product-item__name Мини филадельфия
							span.product-item__components Лосось в кляре / краб-крем / авокадо / блин яичный / соус лава / соус манго Чили
				li
					.product-item
						.product-item__price 
							| от 1 600
							i.icon-rub
						.product-item__img
							img(src='./images/dev/product-item.png')
						.product-item__content
							span.product-item__name Мини филадельфия
							span.product-item__components Лосось в кляре / краб-крем / авокадо / блин яичный / соус лава / соус манго Чили
				li
					.product-item
						.product-item__price 
							| от 2 300
							i.icon-rub
						.product-item__img
							img(src='./images/dev/product-item.png')
						.product-item__content
							span.product-item__name Мини филадельфия
							span.product-item__components Лосось в кляре / краб-крем / авокадо / блин яичный / соус лава / соус манго Чили