#modal-product.cb-modal.mfp-hide.modal-product
	.cb-modal-wrap
		.modal-product__img
			img(src="./images/dev/product-item.png")
			.product-item__tags
				i.icon-leaf(data-text="Зелень в составе")
				i.icon-night(data-text="Продукт месяца")
		.modal-product__content
			.product-item__content
				.product-item__name Мини филадельфия
				.product-item__components Лосось в кляре / краб-крем / авокадо / блин яичный / соус лава / соус манго 
				.product-item__modificators
					label.product-item__modificator
						input(type="radio", checked=!i, name="modal-mod")
						span Креветка
					label.product-item__modificator
						input(type="radio", name="modal-mod")
						span Огурец
					label.product-item__modificator
						input(type="radio", name="modal-mod")
						span Классика
					.product-item__modificator-background
				.product-item__props
					span.product-item__prop 5250 г
					span.product-item__prop 120 ккал
			.product-item__footer
				.product-item__price
					span 4 999
					i.icon-rub
				button.btn.btn_type_gradient-red.btn_size_sm.product-item__btn(data-btn-add-to-cart)
					span Заказать
