include ../../mixins/form/text-field.pug

.checkout-bonus
	h2 Оплатить бонусами до 100%
	.col-2 
		+text-field('bonus', '', false, '', '', 'до 356')
		button.btn.btn_type_green-outline.btn_size_md
			span Списать
	p Вы можете оплатить часть сумму бонусами