include ../../mixins/form/radio.pug
include ../../mixins/form/text-field.pug
include ../../mixins/form/switch.pug
include ../../mixins/form/select.pug
include ../../mixins/form/textarea.pug
include ../../mixins/form/number-field.pug

.checkout-delivery
	h2 Доставка
	.tabs(role="tabs")
		.tabs-list.col_2
			a.tabs-list__item(role="tab" href="#delivery" aria-selected="true") Доставка
			a.tabs-list__item(role="tab" href="#pickup" aria-selected="false") Самовывоз
			.tabs-list__background
		.tabs-content
			.tabs-content__element(data-tab-type="delivery" aria-hidden="false")
				.checkout-delivery
					+radio('address-1', 'address', 'Дом, ул. Капитанская д. 65 кв. 98')
					+radio('address-2', 'address', 'Другой адрес', true)
					+text-field('street', 'Улица', true, 'mt')
					.col-2
						+text-field('house', 'Дом', true)
						+text-field('apartment', 'Квартира, офис', true)
					.col-2
						+text-field('porch', 'Подъезд', true)
						+text-field('floor', 'Этаж', true)
					div
						+switch('is-comment-address', 'Добавить комментарий к адресу')
						.form-item__textarea.form-item__textarea-comment-address.mt(aria-hidden="true", style="display: none;")
							textarea#comment-address(name="comment-address")
							label(for="comment-address") Комментарий к адресу
			.tabs-content__element(data-tab-type="pickup" aria-hidden="true")
				.checkout-pickup
					+radio('address-3', 'address-1', 'ул. Ленина д. 128 (370 м.)')
					+radio('address-4', 'address-1', 'ул. Капитанская д. 65 (1,5 км.)', true)