include ../../mixins/form/switch.pug
include ../../mixins/form/duble-switch.pug
include ../../mixins/form/textarea.pug

.checkout-time
	h2 Время и пожелания
	+duble-switch('type-type', 'Ко времени', 'На ближайшее время')
	+text-field('date', 'Дата доставки', true, 'materialize-datepicker')
	+text-field('time', 'Время доставки', true, 'materialize-timepicker')
	+switch('not-call', 'Не перезванивать')
	+textarea('comment', 'Комментарий к заказу', false, 'mt')