include ../../mixins/form/radio.pug
include ../../mixins/form/text-field.pug

.checkout-payment
	h2 Способ оплаты
	+radio('payment-1', 'payment', 'Курьеру наличными', true)
	.form-item__text-field.form-item__text-field-cash(aria-hidden="false")
		input(id="cash" type="text" name="cash")
		label(for="cash") Сдача с
	+radio('payment-2', 'payment', 'Оплатить сейчас банковской картой')
	+radio('payment-3', 'payment', 'Курьеру банковской картой')