.basket-catalog-item {
	position: relative;
	display: grid;
	grid-template-columns: 196px 1fr 70px 116px 105px 55px;
	grid-gap: 24px;
	align-items: center;
	background: #fff;
	border: 1px solid var(--border);
	border-radius: 12px;
	padding: 16px 36px 16px 26px;
	margin-bottom: 24px;

	&.basket-catalog-item_free {
		border-color: var(--red);
		.basket-catalog-item__total {
			grid-column: -1 / -4;
			color: var(--red);
		}
	}

	&__img {
		width: 100%;
		display: flex;
		align-items: center;
		position: relative;

		a {
			display: flex;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}
	}

	&__tags {
		top: 0;
		left: -10px;
		max-height: 100%;
		flex-wrap: wrap;
	}

	&-header {
		min-height: 30px;
		margin-bottom: 8px;
		display: inline-flex;
		flex-wrap: wrap;
	}

	&__name {
		font-family: "PTSans", sans-serif;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0.02em;
		margin: 0 8px 0 0;
	}

	&__mod {
		display: inline-block;
		font-size: 16px;
		line-height: 1;
		padding: 6px 8px;
		background: var(--background);
		border-radius: 6px;
	}

	&__components {
		font-size: 14px;
		line-height: 20px;
		color: #555;
	}

	&__price,
	&__total {
		text-align: right;
		font-size: 24px;
		line-height: 26px;
		font-weight: 700;
	}

	&__remove {
		border: none;
		background: none;
		cursor: pointer;
		padding: 0;
		color: var(--red);
		font-size: 16px;

		&:hover {
			opacity: 0.8;
		}

		i {
			display: none;
		}
	}

	@include mq("lg") {
		grid-template-columns: 120px 1fr 75px 116px 85px;
		grid-gap: 20px;

		&.basket-catalog-item_free {
			.basket-catalog-item__total {
				grid-column: -1 / -3;
			}
		}

		&-header {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			margin-bottom: 0;
			min-height: 0;
		}

		&__name {
			font-size: 16px;
			line-height: 18px;
		}

		&__mod {
			font-size: 12px;
			margin-top: 6px;
		}

		&__components {
			display: none;
		}

		&__tags {
			i {
				width: 28px;
				height: 28px;
				font-size: 16px;

				&:not(:last-of-type) {
					margin-right: 4px;
				}
			}
		}

		&__price,
		&__total {
			font-size: 20px;
			line-height: 24px;
		}

		&__remove {
			position: absolute;
			top: 12px;
			right: 12px;

			span {
				display: none;
			}

			i {
				display: inline-block;
				font-size: 25px;
			}
		}
	}

	@include mq("md") {
		grid-template-columns: 120px 100px 1fr;
		grid-gap: 12px;
		align-items: flex-start;
		padding: 15px;

		&__img {
			grid-row: 1 / 3;
			grid-column: 1 / 2;
			align-self: center;
		}

		&__tags {
			top: -5px;
			left: -5px;
		}

		&-content {
			grid-row: 1 / 2;
			grid-column: 2 / -1;
		}

		&__mod {
			padding: 4px 6px;
		}

		&__price {
			grid-row: 2 / 3;
			grid-column: 2 / 3;
			justify-self: flex-start;
		}

		&__amount {
			max-width: 100px;

			button {
				font-size: 15px;
				width: 28px;
				height: 28px;
				border-radius: 8px;
			}
		
			input {
				font-size: 14px;
				width: calc(100% - 56px);
			}
		}

		&__total {
			display: none;
		}

		&.basket-catalog-item_free {
			.basket-catalog-item__total {
				display: block;
				grid-row: 2 / 3;
				grid-column: 3 / 4;
				justify-self: flex-start;
			}
		}
	}

	@include mq("sm") {
		grid-template-columns: 85px 1fr 130px;
		grid-gap: 12px;
		align-items: flex-start;

		&:not(:last-of-type) {
			margin-bottom: 16px;
		}

		&__img {
			grid-row: 1 / 3;
			grid-column: 1 / 2;
			align-self: center;
		}

		&__price {
			font-size: 14px;
		}

		&__total {
			font-size: 14px;
		}
	}
}