
/* btn */
.btn {
	display: inline-flex;
	line-height: 1;
	color: #fff;
	letter-spacing: 0.01em;
	border-radius: 9px;
	padding: 0;
	background: #00b05e;
	border: none;
	cursor: pointer;
	user-select: none;
	position: relative;
	transition: 0.1s ease-in-out;
	overflow: hidden;

	span {
		width: 100%;
		padding: 24px 36px;
		font-family: "PTSans";
		font-weight: bold;
		font-size: 26px;
		display: inline-flex;
		justify-content: center;
		align-self: center;
		position: relative;
		border-radius: 9px;
	}
	
	&[disabled] {
		background: #eaeaea !important;
		color: #777 !important;
		cursor: default;
		border: none !important;
		pointer-events: none !important;
	}
}

@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
	.btn:hover {
		opacity: 0.8;
	}
}

.btn:active {
	opacity: 0.8;
}

.btn_type_gradient-green {
	background: linear-gradient(to bottom, var(--gradient-green-from), var(--gradient-green-to));
}

.btn_type_gradient-red {
	border: 1px solid var(--red);
	background: linear-gradient(to bottom, var(--gradient-red-from), var(--gradient-red-to));

	span {
		transition: 0.1s ease-in-out;
		background: transparent;
		box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.2);
	}

	@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
		span {
			transition: background 0.25s ease-in-out;
		}

		&:hover {
			opacity: 1;

			span {
				background: var(--red);
			}
		}
	}

	&:active {
		span {
			box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2);
		}
	}
}

.btn_type_green-outline {
	border: 2px solid var(--green);
	color: var(--green);
	background: transparent;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0);

	&::before {
		transition: opacity 0.1s ease-in-out;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: "";
		opacity: 0;
		background: linear-gradient(to bottom, var(--gradient-green-from), var(--gradient-green-to));
	}

	@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
		&, &::before {
			transition: 0.25s ease-in-out;
		}

		&:not([disabled]):hover {
			opacity: 1;
			color: #fff;
			text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);

			&::before {
				opacity: 1;
			}
		}
	}

	&:not([disabled]):active {
		span {
			box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2);
		}
	}
}

.btn-icon {
	padding: 17px;
	font-size: 36px;
}

@media only screen and (max-width: 768px) {
	.btn-icon {
		padding: 13px;
		font-size: 20px;
	}
}

.btn_size_md {
	text-transform: none;

	span {
		padding: 18px 24px;
		font-size: 20px;
	}
}

.btn_size_sm {
	text-transform: none;

	span {
		padding: 11px 17px;
		font-size: 16px;
		line-height: 18px;
	}
}

@media only screen and (max-width: 768px) {
	.btn span {
		padding: 15px 28px;
		font-size: 16px;
	}

	.btn_type_green-outline span {
		padding: 14px 28px;
	}
}

.full-width {
	width: 100%;
}