.category {
	&:not(:last-of-type) {
		margin-bottom: 72px;
	}

	&__title {
		margin-bottom: 36px;
		font-family: "BebasNeue", sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 60px;
		line-height: 60px;
		letter-spacing: 0.01em;
		text-transform: uppercase;

		@include mq("sm") {
			font-size: 28px;
			line-height: 28px;
		}
	}
}

.products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
	grid-gap: 34px 30px;

	@include mq("xl") {
		grid-template-columns: repeat(3, 1fr);
	}

	@include mq("md") {
		grid-template-columns: repeat(2, 1fr);
	}

	@include mq("sm") {
		grid-template-columns: 1fr;
		grid-gap: 24px;
	}
}

.product-card-promo {
	border: 6px solid #ec2b32;
	border-radius: 26px;
	overflow: hidden;
	display:flex;

	a {
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}

	img {
		width: 90%;
		object-fit: cover;
		object-position: center;
	}
}

.product-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
	position: relative;

	&__tags {
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
		flex-direction: column;
		z-index: 2;

		i {
			width: 42px;
			height: 42px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			font-size: 26px;
			position: relative;
			color: #fff;
			box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.08);

			&::after {
				font-family: "PTSans", serif;
				position: absolute;
				top: 0;
				left: calc(100% + 12px);
				transition: .25s ease-in-out;
				content: attr(data-text);
				font-size: 14px;
				display: inline-flex;
				padding: 12px;
				background: var(--background);
				color: #000;
				opacity: 0;
				visibility: hidden;
				border-radius: 6px;
				white-space: nowrap;
				transform: translateX(5px);
			}

			@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
				&:hover::after {
					opacity: 1;
					visibility: visible;
					transform: translateX(0);
				}
			}

			&:not(:last-of-type) {
				margin-bottom: 6px;
				margin-right: 6px;
			}

			&.icon-discount {
				background: linear-gradient(to bottom, #E9C300, #D76700);
			}
			
			&.icon-fire {
				background: linear-gradient(to bottom, #E33151, #AB1818);
			}

			&.icon-hit,
			&.icon-week,
			&.icon-month {
				background: linear-gradient(to bottom, #158ABC, #5412A7 50%, #9D0E86);
			}

			&.icon-new {
				background: linear-gradient(to bottom, #153ED1, #360CAD);
			}
			
			&.icon-onion {
				background: linear-gradient(to bottom, #A4BB14, #208008);
			}

			&.icon-salad {
				background: linear-gradient(to bottom, #0BB745, #007E51);
			}
		}
	}

	&__content {
		margin-top: 24px;
		flex-grow: 1;
	}

	&__footer {
		margin-top: 24px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__like {
		background: #fff;
		box-shadow: 0px 2px 12px rgba(81, 151, 181, 0.12);
		border-radius: 50%;
		color: #eb6013;
		font-size: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		text-decoration: none !important;
	}

	&__img {
		position: relative;
		padding-top: 62.9%;
		z-index: 1;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-position: center;
			object-fit: contain;
		}
	}

	&__name {
		display: block;
		font-size: 20px;
		letter-spacing: 0.02em;
		font-weight: 700;
		line-height: 24px;
		margin-bottom: 8px;
		color: #000;
		text-decoration: none !important;
	}

	&__props {
		display: none;
		margin-top: 12px;
		line-height: 1;

		span {
			&:not(:last-of-type) {
				margin-right: 12px;
			}
		}
	}

	&__prop {
		color: var(--dark-gray);
		font-size: 16px;
		font-weight: 700;
		line-height: 1;
	}

	&__price {
		font-size: 22px;
		font-weight: 700;
		line-height: 1;
	}

	&__components {
		display: inline-block;
		color: #555;
		font-size: 14px;
		line-height: 20px;
	}

	&__modificators {
		margin-top: 12px;
		display: flex;
		flex-wrap: wrap;
		border: 1px solid #009846;
		border-radius: 12px;
		padding: 2px;
		position: relative;
	}

	&__modificator {
		text-transform: uppercase;
		flex-grow: 1;
		position: relative;
		z-index: 2;

		input {
			position: absolute;
			top: 0;
			left: 0;
			appearance: none;
			visibility: hidden;
			clip: rect(1px, 1px, 1px, 1px);

			&:checked+span {
				color: #fff;
			}
		}

		span {
			display: block;
			text-align: center;
			color: #555;
			font-size: 12px;
			font-weight: 700;
			letter-spacing: 0.01em;
			line-height: 1.2;
			padding: 7px 10px;
			cursor: pointer;
			border-radius: 9px;
			background: transparent;
			transition: color 0.15s 0.12s ease-in-out;
		}

		&-background {
			position: absolute;
			border-radius: 9px;
			background-color: #00b05e;
			z-index: 1;
			will-change: left, width, height;
			transition: 0.25s ease-in-out;
			transition-property: left, width, height;
		}
	}

	&__amount {
		display: none;
		width: 116px;
	}

	&.product-item_in-cart {
		.product-item__amount {
			display: flex;
		}

		.product-item__btn {
			display: none;
		}
	}
}

@include mq("sm") {
	.product-item {
		display: grid;
		grid-template-columns: 120px 1fr;
		grid-gap: 8px 12px;
		align-items: flex-start;
	
		&__tags {
			flex-direction: row;

			i {
				width: 28px;
				height: 28px;
				font-size: 16px;

				&:not(:last-of-type) {
					margin-bottom: 0;
					margin-right: 4px;
				}
			}
		}

		&__content {
			grid-row: 1 / 2;
			grid-column: 2 / 3;
			margin-top: 0;
		}

		&__footer {
			grid-row: 2 / 3;
			grid-column: 2 / 3;
			margin-top: 0;
		}

		&__like {
			display: none;
		}

		&__img {
			grid-row: 1 / 3;
			grid-column: 1 / 2;
		}

		&__name {
			font-size: 14px;
			line-height: 16px;
			margin-bottom: 0;
		}

		&__price {
			font-size: 18px;
			line-height: 20px;
		}

		&__components {
			display: none;
		}

		&__portion {
			font-size: 12px;
			line-height: 14px;
		}

		&__modificators {
			display: inline-flex;
			margin-top: 8px;
			border-radius: 8px;
		}

		&__modificator {
			span {
				font-size: 10px;
				padding: 5px 6px;
			}
		}

		&__modificator-background {
			border-radius: 6px;
		}

		&__btn {
			span {
				font-size: 14px;
				padding: 4px 8px;
			}
		}

		&.product-item_opened {
			grid-template-columns: 1fr;
			grid-gap: 12px;

			.product-item__content {
				grid-row: 2 / 3;
				grid-column: 1 / 2;
			}

			.product-item__footer {
				grid-row: 3 / 4;
				grid-column: 1 / 2;
			}

			.product-item__img {
				grid-row: 1 / 2;
				grid-column: 1 / 2;
			}

			.product-item__name {
				font-size: 14px;
				line-height: 16px;
				margin-bottom: 0;
			}

			.product-item__props {
				display: block;
				margin-top: 4px;
			}

			.product-item__prop {
				font-size: 14px;
			}

			.product-item__price {
				font-size: 18px;
				line-height: 20px;
			}

			.product-item__components {
				display: block;
				margin-top: 4px;
			}

			.product-item__footer {
				justify-content: flex-start;

				.product-item__prop {
					display: none;
				}
			}

			.product-item__modificators {
				margin-top: 12px;
			}

			.product-item__modificator {
				span {
					font-size: 10px;
					padding: 5px 6px;
				}
			}

			.product-item__actions {
				margin-left: auto;
			}

			.product-item__btn {
				span {
					font-size: 16px;
					padding: 11px 26px;
				}
			}

			.product-item__amount {
				width: 116px;

				button {
					font-size: 24px;
					width: 42px;
					height: 42px;
					border-radius: 12px;
				}
			
				input {
					font-size: 16px;
					width: calc(100% - 82px);
				}
			}
		}

		.product-item__amount {
			width: 73px;
		}
	}
}