.extra-product {
	padding: 18px 22px;
	background: #fff;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__img {
		width: 100%;
		max-width: 60px;
		display: flex;
		align-items: center;
		position: relative;
		margin-bottom: 12px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}
	}

	&__name {
		text-align: center;
		font-size: 16px;
		line-height: 18px;
		font-weight: 700;
		letter-spacing: 0.02em;
		line-height: 1;
		margin-bottom: 12px;
		flex-grow: 1;
	}

	&__amount {
		margin-bottom: 12px;

		@include mq("xl") {
			button {
				font-size: 15px;
				width: 28px;
				height: 28px;
				border-radius: 8px;
			}
		
			input {
				font-size: 14px;
				width: calc(100% - 56px);
			}
		}
	}

	&__price {
		font-size: 24px;
		font-size: 26px;
		font-weight: 700;
		margin-bottom: 9px;
	}

	&__free {
		color: var(--dark-gray);
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 0.02em;
	}

	@include mq("lg") {
		padding: 12px;
		display: grid;
		grid-template-columns: 90px 1fr 150px 60px;
		grid-gap: 0 12px;

		& > * {
			margin-bottom: 0;
			grid-row: 1 / 3;
		}

		&__name {
			text-align: left;
			grid-row: 1 / 2;
		}

		&__amount {
			padding-right: 50px;
		}

		&__free {
			grid-row: 2 / span 1;
			grid-column: 2 / span 1;
		}
	}

	@include mq("sm") {
		grid-template-columns: 1fr 85px 40px;

		&__img {
			display: none;
		}

		&__free {
			grid-column-start: 1;
		}

		&__amount {
			padding-right: 0;
		}

		&__price {
			font-size: 14px;
			text-align: right;
		}
	}
}