.header-basket {
	position: absolute;
	right: 0;
	top: 100%;
	transition: 0.25s ease-in-out;
	margin-top: 6px;
	box-shadow: 0px 4px 24px rgba(54, 108, 131, 0.24);
	border-radius: 12px;
	border: 1px solid var(--border);
	width: 720px;
	background: var(--white, #fff);
	visibility: hidden;
	opacity: 0;
	transform: translateY(5px);

	&.short {
		width: 458px;
	}

	&__wrap {
		padding: 16px;
		display: flex;
		justify-content: flex-start;
		min-height: 185px;
	}

	&-notify {
		position: relative;
		margin-right: 24px;
		margin-top: 78px;

		.short & {
			display: none;
		}
	
		&::before {
			position: absolute;
			top: -78px;
			left: 50%;
			transform: translateX(-50%);
			width: 127px;
			height: 119px;
			background-image: url(../images/header-basket-bear.png);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: 0 0;
			content: "";
		}

		&__text {
			background: #fff;
			box-shadow: 0px 2px 12px rgba(81, 151, 181, 0.12);
			border-radius: 12px;
			display: inline-block;
			width: 238px;
			padding: 12px;
			font-size: 14px;
			line-height: 1.16;
			position: relative;
		}
	}

	&-products {
		flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

		&__total {
			display: flex;
			align-items: center;

			&-text {
				font-weight: bold;
				font-size: 18px;
				line-height: 20px;
				color: var(--dark-gray);
				margin-right: 24px;
			}

			&-sum {
				font-size: 24px;
				font-weight: 700;
				line-height: 26px;
			}
		}

		button {
			margin-left: auto;
		}
	}
}