.header-basket-product {
	display: grid;
	grid-template-columns: 54px 1fr 72px 50px 12px;
	grid-gap: 8px;
	align-items: center;
	padding: 12px 0;

	&:not(:last-of-type) {
		border-bottom: 1px solid var(--background);
	}

	&__img {
		width: 100%;
		height: 34px;
		align-self: flex-start;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__body {
		min-height: 34px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__header {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-start;

		h3 {
			font-size: 14px;
			line-height: 16px;
			letter-spacing: 0.01em;
			font-weight: 700;
			margin: 0 8px 0 0;
		}

		span {
			display: inline-block;
			font-size: 10px;
			line-height: 12px;
			background: var(--background);
			padding: 4px;
			border-radius: 6px;
		}
	}

	&__composition {
		font-size: 12px;
		line-height: 14px;
		color: var(--paragraph);
		margin-top: 4px;
	}

	&__sum {
		font-size: 14px;
		font-weight: 700;

		i {
			font-size: 12px;
		}
	}

	&__delete {
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		background: none;
		color: var(--dark-gray);
		border: none;
		outline: none !important;
	}
}