.header {
	padding-bottom: 35px;
	box-shadow: 0px 2px 12px rgba(81, 151, 181, 0.12);
	background: #fff;
	transition: background 0.25s ease-in-out;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1010;

	&-wrap {
		position: relative;
	}

	&__logo {
		display: flex;
	}

	&-top {
		padding-top: 35px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-menu {
			&__list {
				display: flex;
				align-items: center;

				li {
					&:not(:last-of-type) {
						margin-right: 22px;
					}
				}

				a {
					transition: 0.1s ease-in-out;
					font-size: 16px;
					line-height: 1;
					letter-spacing: 0.02em;
					color: var(--paragraph);
					text-decoration: none;

					@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
						transition: 0.25s ease-in-out;

						&:hover {
							color: var(--red);
						}
					}

					&:active {
						color: var(--red);
					}
				}
			}
		}

		&-right {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		&__sign-in {
			transition: 0.1s ease-in-out;
			border: 1px solid var(--border);
			border-radius: 6px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: none;
			font-size: 16px;
			padding: 7px 12px;
			color: var(--paragraph);
			cursor: pointer;
			line-height: 1;
			margin-right: 24px;
			position: relative;
			user-select: none;

			&::before {
				transition: opacity 0.1s ease-in-out;
				border-radius: 6px;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: "";
				opacity: 0;
				background-image: linear-gradient(to top, var(--gradient-gold-from), var(--gradient-gold-to));
			}

			span {
				position: relative;
			}

			i {
				transition: 0.1s ease-in-out;
				border-radius: 50%;
				color: var(--dark-gray);
				background: var(--background);
				margin-right: 10px;
			}

			@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
				&, &::before, i {
					transition: 0.25s ease-in-out;
				}

				&:hover {
					color: #332106;

					&::before {
						opacity: 1;
					}

					i {
						color: #f3c008;
						background: #764E12;
					}
				}
			}

			&:active {
				color: #332106;

				&::before {
					opacity: 1;
				}

				i {
					color: #f3c008;
					background: #764E12;
				}
			}
		}
	}

	&-cities {
		position: relative;
		margin-right: 24px;

		&__current {
			color: var(--red);
			font-size: 16px;
			line-height: 1;
			text-decoration: none !important;

			span {
				transition: 0.15s ease-in-out;
				border-bottom: 1px dashed transparent;
			}

			i {
				margin-right: 2px;
			}

			&:hover span {
				border-bottom-color: var(--red);
			}
		}

		@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
			&:hover .header__list-cities{
				visibility: visible;
				opacity: 1;
				transform: translateY(0);
			}
		}
	}

	&__list-cities {
		transition: 0.25s ease-in-out;
		position: absolute;
		top: 100%;
		right: 0;
		width: 170px;
		background: #fff;
		box-shadow: 0px 2px 12px rgba(81, 151, 181, 0.12);
		border-radius: 6px;
		padding: 8px;
		visibility: hidden;
		opacity: 0;
		transform: translateY(5px);

		li {
			&[aria-selected="true"] {
				a {
					font-weight: 700;
				}
			}

			a {
				transition: 0.25s ease-in-out;
				display: block;
				padding: 8px 12px;
				font-size: 14px;
				line-height: 16px;
				border-radius: 6px;

				@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
					&:hover{
						background: var(--background);
					}
				}
			}
		}
	}

	&__tel {
		transition: color 0.25s ease-in-out;
		font-size: 32px;
		line-height: 1;
		font-weight: 700;
		color: var(--black);
		text-decoration: none !important;
	}

	&-bottom {
		padding-top: 26px;
		max-width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-menu {
			max-width: 100%;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;

			&__list {
				display: flex;
				align-items: center;

				li {
					&:not(:last-of-type) {
						margin-right: 26px;
					}

					&.active {
						a {
							color: var(--red);
						}
					}
				}

				a {
					white-space: nowrap;
					transition: 0.1s ease-in-out;
					font-size: 18px;
					font-weight: 700;
					color: var(--black);
					line-height: 1.11;
					letter-spacing: 0.02em;
					text-decoration: none !important;

					@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
						transition: 0.25s ease-in-out;

						&:hover {
							color: var(--red);
						}
					}

					&:active {
						color: var(--red);
					}
				}
			}
		}
	}

	&-cashback {
		position: absolute;
		bottom: -35px;
		right: 174px;
		height: 93px;
		transition: height 0.25s ease-in-out;
		user-select: none;
		overflow: hidden;
		will-change: height;

		&:hover {
			height: 108px;
		}
	}

	&__basket {
		position: relative;

		img {
			user-select: none;
		}

		@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
			&:hover {
				.header-basket {
					visibility: visible;
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
	}

	&__btn-basket {
		text-decoration: none !important;
		display: flex;
		align-items: center;
		user-select: none;

		& > span {
			font-size: 18px;
			font-weight: 700;
			color: var(--black);
			margin-right: 15px;
			transition: 0.1s ease-in-out;

			i {
				transition: 0.1s ease-in-out;
				color: var(--dark-gray)
			}

			@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
				&, i {
					transition: 0.25s ease-in-out;
				}

				&:hover {
					&, i {
						color: var(--red);
					}
				}
			}

			&:active {
				color: var(--red);
			}
		}

		& > i {
			position: relative;
			top: -6px;
			display: inline-block;
			background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.84814 29.4887C3.84745 30.8446 4.92328 31.9563 6.27853 32.0001H25.7216C27.0768 31.9563 28.1527 30.8446 28.152 29.4887V17.0127H3.84814V29.4887ZM21.2659 21.1849C21.2659 20.7374 21.6285 20.3747 22.076 20.3747C22.5234 20.3747 22.8861 20.7374 22.8861 21.1849V27.6659C22.8861 28.1133 22.5234 28.476 22.076 28.476C21.6285 28.476 21.2659 28.1133 21.2659 27.6659V21.1849ZM15.1899 21.1849C15.1899 20.7374 15.5525 20.3747 16 20.3747C16.4474 20.3747 16.8101 20.7374 16.8101 21.1849V27.6659C16.8101 28.1133 16.4474 28.476 16 28.476C15.5525 28.476 15.1899 28.1133 15.1899 27.6659V21.1849ZM9.11394 21.1849C9.11394 20.7374 9.47663 20.3747 9.92406 20.3747C10.3715 20.3747 10.7342 20.7374 10.7342 21.1849V27.6659C10.7342 28.1133 10.3715 28.476 9.92406 28.476C9.47663 28.476 9.11394 28.1133 9.11394 27.6659V21.1849Z' fill='%23009846'/%3E%3Cpath d='M29.0429 12.5569H2.95681C2.17381 12.5569 1.53906 13.1917 1.53906 13.9747C1.53906 14.7577 2.17381 15.3924 2.95681 15.3924H29.0429C29.8258 15.3924 30.4606 14.7577 30.4606 13.9747C30.4606 13.1917 29.8258 12.5569 29.0429 12.5569Z' fill='%23C62734'/%3E%3Cpath d='M6.27846 10.8557C6.27846 5.58987 10.5316 1.62026 15.7975 1.62026H16.2025C21.4683 1.62026 25.7215 5.63034 25.7215 10.8557V11.7468H27.3418V10.8557C27.3417 4.73927 22.3594 0 16.2025 0H15.7975C9.64046 0 4.6582 4.69872 4.6582 10.8557V11.7468H6.27846V10.8557Z' fill='%23C62734'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-position: center center;
			width: 32px;
			height: 32px;
		}

		.header__basket-count {
			position: absolute;
			text-align: center;
			left: -9px;
			bottom: -7px;
			border-radius: 50%;
			background: var(--red);
			border: 2px solid var(--white);
			font-style: normal;
			font-size: 14px;
			font-weight: 700;
			line-height: 20px;
			color: var(--white);
			width: 24px;
			height: 24px;
		}
	}

	&__basket-mob,
	&__burger {
		display: none;
	}
}

@include mq("xl") {
	.header {
		padding-bottom: 0;

		&.opened-mobile-menu {
			background: #2f2421;
			z-index: 2000;

			.header__tel {
				color: #fff;
			}
		}

		&-cashback,
		&__basket {
			display: none;
		}

		&__logo {
			img {
				width: 120px;
			}
		}

		&__tel {
			font-size: 20px;
		}

		&-top {
			padding: 18px 15px;
			margin-left: -15px;
			margin-right: -15px;
			box-shadow: 0px 2px 12px rgba(81, 151, 181, 0.12);

			&-menu,
			&__sign-in {
				display: none;
			}
		}

		&-cities {
			display: none;
		}

		&-bottom {
			padding-top: 0;
			margin-left: -15px;
			margin-right: -15px;
			max-width: calc(100% + 30px);

			&-menu {
				&__list {
					li {
						&:not(:last-of-type) {
							margin: 0;
						}
					}

					a {
						display: inline-block;
						font-size: 14px;
						line-height: 1;
						color: #555;
						text-transform: uppercase;
						padding: 16px 12px;
					}
				}
			}
		}

		&__basket-mob {
			display: inline-block;
			position: relative;
			display: inline-block;
			background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.84814 29.4887C3.84745 30.8446 4.92328 31.9563 6.27853 32.0001H25.7216C27.0768 31.9563 28.1527 30.8446 28.152 29.4887V17.0127H3.84814V29.4887ZM21.2659 21.1849C21.2659 20.7374 21.6285 20.3747 22.076 20.3747C22.5234 20.3747 22.8861 20.7374 22.8861 21.1849V27.6659C22.8861 28.1133 22.5234 28.476 22.076 28.476C21.6285 28.476 21.2659 28.1133 21.2659 27.6659V21.1849ZM15.1899 21.1849C15.1899 20.7374 15.5525 20.3747 16 20.3747C16.4474 20.3747 16.8101 20.7374 16.8101 21.1849V27.6659C16.8101 28.1133 16.4474 28.476 16 28.476C15.5525 28.476 15.1899 28.1133 15.1899 27.6659V21.1849ZM9.11394 21.1849C9.11394 20.7374 9.47663 20.3747 9.92406 20.3747C10.3715 20.3747 10.7342 20.7374 10.7342 21.1849V27.6659C10.7342 28.1133 10.3715 28.476 9.92406 28.476C9.47663 28.476 9.11394 28.1133 9.11394 27.6659V21.1849Z' fill='%23009846'/%3E%3Cpath d='M29.0429 12.5569H2.95681C2.17381 12.5569 1.53906 13.1917 1.53906 13.9747C1.53906 14.7577 2.17381 15.3924 2.95681 15.3924H29.0429C29.8258 15.3924 30.4606 14.7577 30.4606 13.9747C30.4606 13.1917 29.8258 12.5569 29.0429 12.5569Z' fill='%23C62734'/%3E%3Cpath d='M6.27846 10.8557C6.27846 5.58987 10.5316 1.62026 15.7975 1.62026H16.2025C21.4683 1.62026 25.7215 5.63034 25.7215 10.8557V11.7468H27.3418V10.8557C27.3417 4.73927 22.3594 0 16.2025 0H15.7975C9.64046 0 4.6582 4.69872 4.6582 10.8557V11.7468H6.27846V10.8557Z' fill='%23C62734'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			width: 24px;
			height: 24px;
			margin-left: 19px;

			span {
				position: absolute;
				text-align: center;
				right: -6px;
				top: -7px;
				border-radius: 50%;
				background: var(--red);
				border: 1px solid var(--white);
				font-style: normal;
				font-size: 10px;
				font-weight: 700;
				line-height: 19px;
				color: var(--white);
				width: 19px;
				height: 19px;
			}
		}

		&__burger {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border: none;
			padding: 9px 7px;
			background: none;
			margin-left: 19px;

			i {
				transition: 0.3s ease-in-out;
				display: inline-block;
				width: 18px;
				height: 2px;
				background: #000;
				pointer-events: none;

				&:not(:last-of-type) {
					margin-bottom: 4px;
				}
			}

			.opened-mobile-menu & {
				i {
					background: #e15959;

					&:first-of-type {
						transform: translateY(6px) rotate(-225deg);
					}

					&:nth-of-type(2) {
						opacity: 0;
						transform: rotate(180deg);
					}

					&:last-of-type {
						transform: translateY(-6px) rotate(45deg);
					}
				}
			}
		}
	}
}