.mobile-menu {
	position: fixed;
	top: 68px;
	left: 0;
	right: 0;
	bottom: 0;
	transform: translateY(10px);
	opacity: 0;
	visibility: hidden;
	background: #1f1f1f;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	transition: 0.3s ease-in-out;

	@include mq('xl', 'min') {
		transform: translateY(10px) !important;
		opacity: 0 !important;
		visibility: hidden !important;
	}

	&[aria-expanded="true"] {
		opacity: 1;
		visibility: visible;
		transform: translateY(0px);
	}

	.mobile-menu-section {
		border-top: 1px solid #000;
		position: relative;
		padding: 24px 16px;

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			height: 1px;
			background: rgba(255, 255, 255, 0.1);
			content: "";
		}
	}

	&-sign-in {
		.btn {
			span {
				font-size: 20px;
				padding: 17px 25px;
			}
		}

		.cb-select {
			margin-top: 24px;
			position: relative;

			&::after {
				font-family: 'icomoon' !important;
				content: "\e903";
				font-size: 18px;
				position: absolute;
				top: 15px;
				right: 18px;
				pointer-events: none;
				color: #fff;
			}

			select {
				width: 100%;
				background: #353535;
				-webkit-appearance: none;
				appearance: none;
				border-radius: 12px;
				font-size: 18px;
				line-height: 22px;
				color: #fff;
				padding: 18px 54px 18px 18px;
				outline: none !important;
			}
		}
	}

	&-nav {
		ul {
			padding-left: 20px;
		}

		li {
			&:not(:last-of-type) {
				margin-bottom: 24px;
			}
		}

		a {
			text-decoration: none !important;
			font-size: 18px;
			line-height: 1;
			letter-spacing: 0.01em;
			color: #fff;
			text-transform: uppercase;
			font-weight: 700;
		}
	}

	&__tel {
		font-family: "BebasNeue", sans-serif;
		font-size: 46px;
		line-height: 50px;
		color: #666;
		font-weight: 400;
		text-decoration: none;

		strong {
			color: #fff;
		}
	}

	&__time {
		font-family: "BebasNeue", sans-serif;
		font-size: 20px;
		line-height: 1;
		color: #e15959;
		margin-top: 2px;
	}

	&-social {
		display: flex;

		&__link {
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none !important;
			width: 48px;
			height: 48px;
			font-size: 30px;
			color: #fff;
			background: #2c2c2c;
			border-radius: 5px;

			&:not(:last-of-type) {
				margin-right: 15px;
			}
		}
	}

	&-apps {
		span {
			display: flex;
			color: #666;
			font-size: 16px;
			line-height: 18px;
			margin-bottom: 12px;
		}

		a {

			&:not(:last-of-type) {
				margin-right: 16px;
			}

			i {
				display: inline-block;
				width: 130px;
				height: 38px;
				border: 1px solid #a6a6a6;
				border-radius: 5px;
				background-repeat: no-repeat;
				background-image: url(../images/icons-apps.png);
				background-size: 200%;
				background-color: #000;

				&.icon-app__google-play {
					background-position: 2px 0;
				}
	
				&.icon-app__app-store {
					background-position: -130px 0;
				}
			}
		}
	}
}