.offer-bar {
	padding-top: 20px;
	padding-bottom: 20px;
	background: #fff;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1010;
	box-shadow: 0px 2px 12px rgba(81, 151, 181, 0.12);

	.container {
		a {
			display: flex;
			align-items: center;
		}
	}

	&__text {
		font-size: 42px;
		line-height: 1;
		font-family: "BebasNeue", serif;
		font-weight: 700;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		margin-right: 100px;
		white-space: nowrap;

		&::before {
			width: 56px;
			height: 56px;
			content: "";
			background-image: url(../images/gift.png);
			margin-right: 16px;
		}
	}

	&-scale {
		height: 48px;
		width: 100%;
		position: relative;
		padding: 6px;

		&__bg {
			width: 100%;
			height: 100%;
			border-radius: 12px;
			background: 
					repeating-linear-gradient(120deg, 
						rgba($color: #000, $alpha: .05) 0px, 
						rgba($color: #000, $alpha: .05) 26px, 
						rgba($color: #000, $alpha: 0) 26px, 
						rgba($color: #000, $alpha: 0) 52px), 
					#e5e5e5; 
		}

		&__current {
			transition: width 0.3s ease-in-out;
			border-radius: 18px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			background: 
					repeating-linear-gradient(120deg, 
						rgba($color: #000, $alpha: .05) 0px, 
						rgba($color: #000, $alpha: .05) 26px, 
						rgba($color: #000, $alpha: 0) 26px, 
						rgba($color: #000, $alpha: 0) 52px), 
					linear-gradient(to bottom, #61C810, #10B885);
			box-shadow: inset 0px 0px 30px rgba(255, 255, 255, 0.9);
			border: 6px solid #fafafa;
		}

		&__marker {
			position: absolute;
			top: 8px;
			margin-left: -3px;
			transform: translateX(-50%);

			&.active {
				&:before {
					background-color: var(--green);
				}

				span {
					color: var(--green);
				}

				.svg-icon-check {
					background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M22.0501 5.45627L11.4376 16.4438L11.4563 17.6251H11.9438L23.4377 8.36253C23.1001 7.3313 22.6314 6.33753 22.0501 5.45627Z' fill='black' fill-opacity='0.4'/%3E%3Cpath d='M23.7751 4.93127L21.6564 2.83125C21.3751 2.54998 20.9063 2.54998 20.6064 2.83125L11.5501 12.1875L7.63127 8.32504C7.35001 8.04377 6.88126 8.04377 6.58129 8.32504L4.70626 10.1813C4.42499 10.4626 4.42499 10.9313 4.70626 11.2126L10.9688 17.4188C11.1376 17.5876 11.3626 17.6438 11.5876 17.6251C11.8126 17.6438 12.0376 17.5875 12.2063 17.4188L23.7751 5.98126C24.0564 5.68124 24.0564 5.21249 23.7751 4.93127Z' fill='%23F2F1EF'/%3E%3Cpath d='M12.2063 17.4188L23.7751 5.98127C24.0564 5.7 24.0564 5.23126 23.7751 4.94999L23.4376 4.63126L11.5688 16.2938L5.00628 9.90005L4.72502 10.1813C4.44375 10.4626 4.44375 10.9313 4.72502 11.2126L10.9876 17.4189C11.1563 17.5876 11.3813 17.6439 11.6063 17.6251C11.8126 17.6438 12.0376 17.5876 12.2063 17.4188Z' fill='%23E6E5E3'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='12' y1='0' x2='12' y2='24' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2361C810'/%3E%3Cstop offset='1' stop-color='%2310B885'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
				}
			}

			span {
				position: relative;
				display: flex;
				align-items: center;
				height: 32px;
				padding: 4px 6px;
				background-color: #fff;
				color: var(--dark-gray);
				font-size: 14px;
				font-weight: 700;
				border-radius: 25px;
			}

			&::before {
				position: absolute;
				top: -12px;
				bottom: -12px;
				left: 50%;
				margin-left: -2px;
				width: 4px;
				border-radius: 2px;
				content: "";
				background: var(--dark-gray);
			}

			.svg-icon-check {
				position: relative;
				display: inline-block;
				margin-right: 2px;
				width: 24px;
				height: 24px;
				background-size: contain;
				background-repeat: no-repeat;
				background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z' fill='%23777777'/%3E%3Cpath d='M22.0501 5.45627L11.4376 16.4438L11.4563 17.6251H11.9438L23.4377 8.36253C23.1001 7.3313 22.6314 6.33753 22.0501 5.45627Z' fill='black' fill-opacity='0.4'/%3E%3Cpath d='M23.7751 4.93127L21.6564 2.83125C21.3751 2.54998 20.9063 2.54998 20.6064 2.83125L11.5501 12.1875L7.63127 8.32504C7.35001 8.04377 6.88126 8.04377 6.58129 8.32504L4.70626 10.1813C4.42499 10.4626 4.42499 10.9313 4.70626 11.2126L10.9688 17.4188C11.1376 17.5876 11.3626 17.6438 11.5876 17.6251C11.8126 17.6438 12.0376 17.5875 12.2063 17.4188L23.7751 5.98126C24.0564 5.68124 24.0564 5.21249 23.7751 4.93127Z' fill='%23F2F1EF'/%3E%3Cpath d='M12.2063 17.4188L23.7751 5.98127C24.0564 5.7 24.0564 5.23126 23.7751 4.94999L23.4376 4.63126L11.5688 16.2938L5.00628 9.90005L4.72502 10.1813C4.44375 10.4626 4.44375 10.9313 4.72502 11.2126L10.9876 17.4189C11.1563 17.5876 11.3813 17.6439 11.6063 17.6251C11.8126 17.6438 12.0376 17.5876 12.2063 17.4188Z' fill='%23E6E5E3'/%3E%3C/svg%3E%0A");
			}

			.icon-rub {
				font-size: 80%;
			}
		}
	}

	@include mq("lg") {
		&__text {
			font-size: 32px;
			margin-right: 70px;
		}
	}

	@include mq("md") {
		padding-top: 16px;
		padding-bottom: 16px;

		&__text {
			font-size: 16px;
			margin-right: 16px;

			&::before {
				content: none;
			}
		}

		&-scale {
			height: 28px;
			padding: 2px;

			&__current {
				border-width: 2px;
				box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.9);
			}

			&__marker {
				top: 6px;
				margin-left: -1px;

				&.active {
					color: var(--green);
				}

				span {
					height: 16px;
					padding: 2px 4px;
					font-size: 10px;
					line-height: 12px;
				}

				&::before {
					position: absolute;
					top: -8px;
					bottom: -8px;
					left: 50%;
					margin-left: -1px;
					width: 2px;
					border-radius: 2px;
					content: "";
				}

				.svg-icon-check {
					display: none;
				}

				.icon-rub {
					margin-left: 1px;
				}
			}
		}
	}
}