.tabs {
	&-list {
		border-radius: 12px;
		display: flex;
		grid-gap: 8px;
		position: relative;
		overflow: hidden;
		border: 2px solid var(--green);
		padding: 6px;
		
		&__item {
			border-radius: 9px;
			flex-grow: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			color: var(--dark-gray);
			padding: 11px 10px ;
			z-index: 1;
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			text-decoration: none !important;

			&[aria-selected="true"] {
				color: #fff;
			}
		}

		&__background {
			border-radius: 9px;
			transition: 0.25s ease-in-out;
			position: absolute;
			background-color: var(--green);
		}
	}

	.tabs-content {
		margin-top: 24px;

		[aria-hidden="true"] {
			display: none;
		}
	}
}