.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
}

.col-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	align-items: flex-start;

	@include mq("md") {
		grid-template-columns: 1fr;
	}
}

.mt {
	margin-top: 24px;
}

.mb {
	margin-bottom: 24px;
}