@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon/icomoon.eot?iah3z2');
	src: url('../fonts/icomoon/icomoon.eot?iah3z2#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?iah3z2') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?iah3z2') format('woff'),
		url('../fonts/icomoon/icomoon.svg?iah3z2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-month:before {
  content: "\e91a";
}

.icon-week:before {
  content: "\e91b";
}

.icon-discount:before {
	content: "\e902";
}

.icon-fire:before {
	content: "\e904";
}

.icon-hit:before {
	content: "\e905";
}

.icon-new:before {
	content: "\e911";
}

.icon-onion:before {
	content: "\e912";
}

.icon-salad:before {
	content: "\e913";
}

.icon-vk:before {
	content: "\e917";
}

.icon-instagram:before {
	content: "\e918";
}

.icon-map-marker:before {
	content: "\e915";
}

.icon-user:before {
	content: "\e916";
}

.icon-rub:before {
	content: "\e900";
}

.icon-chevron-down:before {
	content: "\e903";
}

.icon-close-small:before {
	content: "\e908";
}

.icon-heart-outline:before {
	content: "\e90a";
}

.icon-heart:before {
	content: "\e90b";
}

.icon-plus:before {
	content: "\e90c";
}

.icon-delete:before {
	content: "\e90d";
}

.icon-edit:before {
	content: "\e90e";
}

.icon-info-outline:before {
	content: "\e90f";
}

.icon-minus:before {
	content: "\e910";
}

.icon-ruble:before {
	content: "\e909";
}

.icon-refresh:before {
	content: "\e901";
}

.icon-search:before {
	content: "\e906";
}

.icon-close:before {
	content: "\e907";
}