
// Media queries
$breakpoints_width: (
	"sm" : 577px,
	"md" : 769px,
	"lg" : 993px,
	"xl" : 1200px
);

@mixin mq($size, $type: max) { // (["xs", "sm", "md", "lg", "xl/null", "xxl/null"], null/"min")
	@if map_has_key($breakpoints_width, $size) {
		$width: map_get($breakpoints_width, $size);
		@if $type == min {
			$width: $width + 1px;
		}
		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}