:root {
	--color-modal-close: #c72735;
	--input-border: #c0c0c0;
	--input-border-focus: #909090;

	--red: #c62734;
	--green: #009947;

	--black: #000;
	--paragraph: #444;
	--gray: #999;
	--dark-gray: #777;
	--background: #eaeaea;
	--border: #e5e5e5;
	--white: #fff;

	--gradient-red-from: #E15959;
	--gradient-red-to: #E96F54;

	--gradient-green-from: #00B05E;
	--gradient-green-to: #10C298;

	--gradient-gold-from: #E08027;
	--gradient-gold-to: #E5DE32;
}