.basket-promocode {
	margin-bottom: 56px;

	form {
		display: flex;
		max-width: 440px;
		width: 100%;
	}

	.form-item__text-field {
		margin-right: 20px;
		flex-grow: 1;
	}

	@include mq("sm") {
		.form-item__text-field {
			margin-right: 10px;
		}
	}
}

.basket-extra {
	display: grid;
	grid-template-columns: 1fr 370px;
	grid-gap: 30px;
	align-items: flex-start;

	@include mq("lg") {
		grid-template-columns: 1fr;
	}
}

.basket-extra__products {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;

	@include mq("xl") {
		grid-gap: 20px;
	}

	@include mq("lg") {
		grid-template-columns: 1fr;
		order: 2;
	}
}

.basket-extra__promo {
	background: #EAEAEA;
	border-radius: 9px;
	height: 100%;

	@include mq("lg") {
		grid-template-columns: 1fr;
		order: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.basket-footer {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 72px;

	.basket-buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		@include mq("sm") {
			flex-direction: column;

			.btn {
				width: 100%;

				&:not(:last-of-type) {
					margin-bottom: 15px;
				}
			}
		}
	}
}

.basket-total {
	width: 100%;
	max-width: 470px;
	margin-bottom: 30px;

	&__bonus {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 18px;
		line-height: 1.11;
		margin-bottom: 8px;
		color: var(--paragraph);
	}

	&__sum {
		display: flex;
		align-items: center;
		font-weight: bold;
		font-size: 28px;
		line-height: 36px;
		margin-bottom: 8px;

		span {
			margin-left: auto;
		}

		span, i {
			font-size: 24px;
			line-height: 26px;
		}
	}

	p {
		color: #5E5E5E;
		font-size: 14px;
		line-height: 1.57;
	}

	@include mq("sm") {
		max-width: 100%;

		&__bonus {
			font-size: 14px;
			line-height: 1.11;
			margin-bottom: 8px;
		}
	
		&__sum {
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 8px;
	
			span {
				&:last-of-type {
					font-size: 18px;
					line-height: 22px;
				}
			}
		}
	
		p {
			font-size: 12px;
			line-height: 1.4;
		}
	}
}