.checkout-page {
	.page-title {
		margin-bottom: 56px;
	}
}

.checkout {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;

	@include mq("lg") {
		grid-template-columns: 1fr;
	}

	&-form {
		padding: 0 84px;

		hr {
			margin-top: 56px;
			margin-bottom: 56px;
			margin-right: -84px;
		}

		@include mq("xl") {
			padding: 0 35px;

			hr {
				margin-right: -35px;
			}
		}

		@include mq("lg") {
			hr {
				margin-right: 0;
			}
		}

		@include mq("sm") {
			padding: 0;
		}
	}

	&-time__date {
		&[aria-hidden="true"] {
			display: none;
		}
	}

	&-total {
		background: #fff;
		border: 1px solid var(--border);
		box-shadow: 0px 2px 12px rgba(81, 151, 181, 0.12);
		border-radius: 12px;
		margin-right: 100px;
		padding: 35px;
		align-self: flex-start;
		position: -webkit-sticky;
		position: sticky;
		top: 184px;

		@include mq("xl") {
			margin-right: 35px;
		}

		@include mq("lg") {
			position: relative;
			top: 0;
			margin: 50px 35px 0;
		}

		@include mq("sm") {
			padding: 25px;
			margin: 50px 0 0;
		}

		&__list {
			li {
				display: flex;
				justify-content: space-between;
				color: var(--paragraph);
				font-size: 18px;
				line-height: 20px;

				@include mq("sm") {
					font-size: 14px;
					line-height: 16px;
				}

				&:not(:last-of-type) {
					margin-bottom: 11px;
				}
			}
		}

		hr {
			margin-top: 17px;
			margin-bottom: 19px;
		}

		&__sum {
			display: flex;
			justify-content: space-between;
			font-size: 24px;
			line-height: 26px;

			@include mq("sm") {
				font-size: 20px;
				line-height: 22px;
			}
		}

		&__bonus {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 8px;
			color: var(--paragraph);
			font-size: 18px;
			line-height: 20px;

			strong {
				display: inline-block;
				color: #fff;
				padding: 6px 8px;
				background: linear-gradient(to bottom, var(--gradient-green-from), var(--gradient-green-to));
				border-radius: 20px;
			}

			@include mq("sm") {
				font-size: 14px;
				line-height: 16px;
			}
		}

		&__submit {
			margin-top: 28px;
			margin-bottom: 16px;
			width: 100%;
		}
	}
}