.checkout-final-page {

}

.checkout-final {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;

	&__header {
		margin-bottom: 36px;
		display: flex;
		justify-content: center;

		i {
			width: 48px;
			height: 48px;
			margin-top: 5px;
			margin-right: 16px;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M22.0501 5.45627L11.4375 16.4438L11.4563 17.6251H11.9438L23.4376 8.36253C23.1001 7.3313 22.6313 6.33753 22.0501 5.45627Z' fill='black' fill-opacity='0.4'/%3E%3Cpath d='M23.7749 4.93126L21.6562 2.83123C21.3749 2.54997 20.9062 2.54997 20.6062 2.83123L11.5499 12.1875L7.63108 8.32502C7.34982 8.04376 6.88107 8.04376 6.5811 8.32502L4.70607 10.1813C4.4248 10.4626 4.4248 10.9313 4.70607 11.2126L10.9686 17.4188C11.1374 17.5876 11.3624 17.6438 11.5874 17.625C11.8124 17.6438 12.0374 17.5875 12.2061 17.4188L23.7749 5.98125C24.0562 5.68122 24.0562 5.21248 23.7749 4.93126Z' fill='%23F2F1EF'/%3E%3Cpath d='M12.2064 17.4188L23.7752 5.98127C24.0565 5.7 24.0565 5.23126 23.7752 4.94999L23.4377 4.63126L11.5689 16.2938L5.00638 9.90005L4.72511 10.1813C4.44384 10.4626 4.44384 10.9313 4.72511 11.2126L10.9877 17.4189C11.1564 17.5876 11.3814 17.6439 11.6064 17.6251C11.8127 17.6438 12.0376 17.5876 12.2064 17.4188Z' fill='%23E6E5E3'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='12' y1='0' x2='12' y2='24' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2361C810'/%3E%3Cstop offset='1' stop-color='%2310B885'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
		}

		@include mq("sm") {
			flex-direction: column;

			i {
				width: 128px;
				height: 128px;
				margin-bottom: 36px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	&__title {
		display: flex;
		text-align: center;
		flex-direction: column;
		align-items: center;

		h1 {
			margin: 0;
		}

		span {
			line-height: 20px;
			font-size: 16px;
		}

		@include mq("sm") {
			h1 {
				font-size: 40px;
			}

			span {
				font-size: 14px;
			}
		}
	}

	&-delivery {
		position: relative;
		margin-left: 185px;

		@include mq("md") {
			margin-left: 0;
		}
		
		&::before {
			content: "";
			background-size: contain;
			position: absolute;
			bottom: 0;
			right: calc(100% - 52px);
			background-image: url(../images/checkout-basket.png);
			background-repeat: no-repeat;
			background-position: bottom;
			width: 240px;
			height: 100%;
			z-index: 0;

			@include mq("md") {
				display: none;
			}
		}

		&-wrap {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			background-color: #fff;
			border: 1px solid var(--background);
			box-shadow: 0px 2px 12px rgba(81, 151, 181, 0.12);
			border-radius: 12px;
			padding: 32px;
			position: relative;

			@include mq("sm") {
				flex-wrap: wrap;
			}
		}

		&__info {
			flex-grow: 1;
			padding-right: 30px;

			ul {
				padding-top: 5px;
				padding-bottom: 5px;
			}

			li {
				display: flex;
				font-size: 16px;
				line-height: 1.3;

				&:not(:last-of-type) {
					margin-bottom: 12px;
				}

				span:first-of-type {
					flex: 0 0 187px;
					max-width: 187px;
					padding-right: 20px;
				}
			}

			@include mq("md") {
				ul {
					padding: 0;
				}

				li {
					font-size: 14px;

					span:first-of-type {
						flex: 0 0 130px;
						max-width: 130px;
					}
				}
			}

			@include mq("sm") {
				li {
					display: flex;
					flex-direction: column;

					span:first-of-type {
						flex: 0 0 100%;
						max-width: 100%;
					}
				}
			}
		}

		&-time {
			flex-basis: 130px;

			&__minutes {
				background-image: linear-gradient(to bottom, var(--gradient-red-from), var(--gradient-red-to));
				border-radius: 12px;
				padding: 9px 24px 13px;

				span {
					font-family: "BebasNeue", sans-serif;
					font-size: 20px;
					line-height: 1;
					letter-spacing: 0.01em;
					display: block;
					text-align: center;
					color: #fff;
					font-weight: 700;

					&:first-of-type {
						font-size: 56px;
					}
				}
			}

			p {
				margin-top: 2px;
				text-align: center;
				font-size: 14px;
				color: var(--paragraph);
				line-height: 1;
			}

			@include mq("md") {
				flex-basis: 110px;

				&__minutes {
					padding: 7px 21px 10px;

					span {
						font-size: 16px;

						&:first-of-type {
							font-size: 45px;
						}
					}
				}

				p {
					font-size: 12px;
				}
			}

			@include mq("sm") {
				flex-basis: 100%;
				max-width: 100%;
				margin-top: 24px;
				border-top: 1px solid var(--border);
				padding-top: 24px;
				display: flex;
				flex-direction: row-reverse;
				align-items: center;
				justify-content: space-between;

				p {
					text-align: left;
					font-size: 14px;
					padding-right: 10px;
				}

				&__minutes {
					flex: 0 0 160px;
					max-width: 160px;
					padding: 15px 0 10px;
					display: flex;
					align-items: center;
					justify-content: center;

					span {
						font-size: 24px;

						&:first-of-type {
							font-size: 40px;
						}

						&:last-of-type {
							line-height: 33px;
							font-weight: 300;
							margin-left: 4px;
						}
					}
				}
			}
		}
	}

	&-basket {
		margin-top: 56px;
		background: #fff;
		border: 1px solid var(--background);
		box-shadow: 0px 2px 12px rgba(81, 151, 181, 0.12);
		border-radius: 12px;
		padding: 42px 39px;

		h2 {
			text-align: center;
			margin-bottom: 32px;
		}

		&__header,
		&__row {
			display: grid;
			grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
		}

		&__header {
			font-size: 16px;
			margin-bottom: 8px;

			strong:not(:first-of-type) {
				text-align: right;
			}
		}

		&__row {
			padding: 10px 0;

			&:not(:last-of-type) {
				border-bottom: 1px solid var(--border);
			}
		}

		&__price,
		&__amount,
		&__sum {
			text-align: right;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		&__name {
			display: flex;
			align-items: center;
			line-height: 1.3;

			img {
				width: 100%;
				max-width: 78px;
				object-fit: contain;
				object-position: center;
				margin-right: 13px;
			}
		}

		&__sum {
			font-weight: 700;
		}

		@include mq("sm") {
			padding: 32px;

			h2 {
				font-size: 24px;
				margin-bottom: 24px;
			}

			&__table {
				overflow-x: scroll;
			}

			&__header,
			&__row {
				width: 640px;
			}
		}
	}

	.checkout-total {
		background: none;
		box-shadow: none;
		margin: 46px 0 0 auto;
		padding: 0;
		border: none;
		max-width: 400px;

		.btn {
			width: 100%;

			span {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}