mixin duble-switch(name, text1, text2, wrap = false)
	.form-item__switch.form-item__switch_duble(class=(wrap ? 'form-item' : '') + ' form-item__switch-' + name)
		label(for=name)
			p= text1
			input(type="checkbox" id=name name=name)
			span
			p= text2