mixin number-field(name, isBig = false, wrap = false, extraClass = '', value)
	.form-item__number(
		class=(
			extraClass + 
			(isBig ? ' form-item__number_size_lg' : '') + 
			(wrap ? 'form-item' : '')
		)
		data-product-field-amount
	)
		button(data-type="remove")
			i.icon-minus
		input(type="text" name=name value=(value ? value : 0) readonly)
		button(data-type="add")
			i.icon-plus