mixin radio(id, name, text, checked = false, wrap = false, extraClass = '')
	.form-item__radio(
		class=(
			extraClass + 
			(wrap ? ' form-item' : '') + 
			' form-item__radio-' + name
		)
	)
		label(for=id)
			block
			input(type="radio" id=id name=name checked=checked)
			div
				span
				if (text)
					p !{text}