mixin select(name, items, wrap = false, extraClass = '')
	.form-item__select(
		class=(
			extraClass + 
			(wrap ? ' form-item' : '') + 
			' form-item__select-' + name
		)
	)
		select(id=name name=name)
			each item, i in items
				option(value=i)= item