mixin switch(name, text, wrap = false)
	.form-item__switch(class=(wrap ? 'form-item' : '') + ' form-item__switch-' + name)
		label(for=name)
			input(type="checkbox" id=name name=name)
			span
			if (text)
				p= text