mixin text-field(name, label, wrap = false, extraClass = '', message, placeholder = '')
	.form-item__text-field(
		class=(
			extraClass +
			(wrap ? ' form-item' : '') + 
			' form-item__text-field-' + name
		)
	)
		input(id=name type="text" name=name placeholder=placeholder)
		if (label)
			label(for=name)= label
		if (message)
			.form-item__message= message