mixin textarea(name, title = '', wrap = false, extraClass)
	.form-item__textarea(class=extraClass + (wrap ? ' form-item' : '') + ' form-item__textarea-' + name)
		textarea(id=name name=name)
		if (title)
			label(for=name)= title
		if (message)
			.form-item__message= message