.form-item__checkbox,
.form-item__radio {
	position: relative;

	&:not(:last-of-type) {
		margin-bottom: 4px;
	}

	label {
		display: flex;

		p {
			line-height: 1.1;
			display: -webkit-box;
			align-items: center;
			min-height: 30px;

			a {
				color: var(--red);
				text-decoration: underline;
			}
		}
	}

	input {
		clip: rect(1px, 1px, 1px, 1px);
		width: 0;
		height: 0;
		appearance: none;
		position: absolute;
		top: 0;
		left: 0;

		& + div {
			display: flex;
		}

		& + div > span {
			position: relative;
			padding-left: 26px;
			font-size: 14px;
			display: inline-flex;
			align-items: center;
			justify-content: flex-start;
			text-align: left;
			cursor: pointer;

			&::before {
				transition: 0.15s ease-in-out;
				border-radius: 2px;
				content: "";
				position: absolute;
				top: 5px;
				left: 1px;
				border: 1px solid var(--green);
				width: 18px;
				height: 18px;
			}

			&::after {
				transition: opacity 0.15s ease-in-out 0.05s;
				content: "✓";
				font-size: 15px;
				position: absolute;
				top: 0px;
				left: 5px;
				opacity: 0;
				color: #fff;
			}
		}

		&:checked + div > span {
			&::before {
				border: 9px solid var(--green);
			}

			&::after {
				opacity: 1;
			}
		}

		&:disabled {
			& + div {
				& > span {
					cursor: not-allowed !important;

					&::before {
						border-color: #999 !important;
					}
				}

				p {
					color: var(--paragraph) !important;
				}
			}
		}
	}
}

.form-item__radio {
	input {
		& + div > span {
			&::before {
				border-radius: 50%;
			}

			&::after {
				border-radius: 50%;
				top: 9px;
				left: 5px;
				content: '';
				opacity: 1;
				width: 10px;
				height: 10px;
				background-color: var(--green);
				transform: scale(0);
				transition: transform 0.15s ease-in-out;
			}
		}

		&:checked + div > span {
			&::before {
				border-width: 1px;
			}

			&::after {
				transform: scale(1);
			}
		}

		&:disabled {
			& + div > span {
				&::after {
					background-color: #999 !important;
				}
			}
		}
	}
}