.cb-form-item {
	position: relative;
	
	input {
		width: 100%;
		border-radius: 12px;
		border: 1px solid var(--input-border);
		height: 70px;
		font-size: 22px;
		padding: 22px 55px 22px 22px;
		font-family: "PTSans";
		color: #929599;
		outline: none !important;

		&:focus {
			border-color: var(--input-border-focus);

			& ~ .icon-search {
				color: var(--input-border-focus);
			}
		}

		& ~ .icon-search {
			color: var(--input-border);
			position: absolute;
			top: 17px;
			right: 17px;
			font-size: 36px;
			pointer-events: none;

			@include mq("md") {
				height: 46px;
				padding: 7px 45px 7px 18px;
				font-size: 16px;
			}
		}

		@include mq("md") {
			font-size: 24px;
			top: 12px;
			right: 18px;
		}
	}

	.search-field__result {
		display: none;
		position: absolute;
		top: calc(100% + 12px);
		margin: 0;
		left: 0;
		width: 100%;
		max-width: 400px;
		border: 1px solid #999;
		border-radius: 5px;
		padding: 7px 15px;
		background: #fff;
		z-index: 100;
		list-style: none;

		a {
			font-size: 14px;
			line-height: 1.2;
			color: #333;
			display: flex;
			padding: 8px 0;

			&:hover {
				color: #00b05d;
			}
		}
	}
}