.form-item__number {
	display: flex;
	align-items: center;

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		outline: none;
		border: none;
		font-size: 12px;
		padding: 0;
		width: 20px;
		height: 20px;
		cursor: pointer;
		border-radius: 6px;

		i {
			pointer-events: none;
		}

		&[data-type="remove"]  {
			border: 1px solid var(--border);
			background-color: #fff;
			color: var(--red);
		}

		&[data-type="add"] {
			color: #fff;
			background-image: linear-gradient(to bottom, var(--gradient-red-from), var(--gradient-red-to));
		}
	}

	input {
		border: none;
		font-size: 12px;
		font-weight: 700;
		padding: 0 5px;
		width: calc(100% - 40px);
		text-align: center;
		line-height: 1;
		outline: none !important;
		background: transparent;
	}

	&_size_lg {
		button {
			font-size: 24px;
			width: 42px;
			height: 42px;
			border-radius: 12px;
		}
	
		input {
			font-size: 16px;
			width: calc(100% - 82px);
		}

		@include mq("sm") {
			button {
				font-size: 15px;
				width: 28px;
				height: 28px;
				border-radius: 8px;
			}
		
			input {
				font-size: 14px;
				width: calc(100% - 56px);
			}
		}
	}
}