.form-item__select {
	position: relative;

	select {
		transition: 0.25s ease-in-out;
		border-radius: 12px;
		border: 1px solid var(--border);
		padding: 17px 35px 17px 18px;
		outline: none;
		min-height: 58px;
		background-color: white;
		width: 100%;
		box-shadow: inset 0 0 0 100px white;
		font-size: 18px;
		line-height: 22px;

		&:hover {
			border-color: var(--gray);
		}
	}

	&::before {
		position: absolute;
		font-family: 'icomoon' !important;
		content: "\e903";
		top: 16px;
		right: 15px;
		font-size: 26px;
	}

	select + label {
		transition: .25s ease-in-out;
		padding-left: 3px;
		padding-right: 3px;
		pointer-events: none;
		font-size: 18px;
		line-height: 1;
		position: absolute;
		top: 22px;
		left: 18px;
		color: var(--dark-gray);
		white-space: nowrap;
		max-width: calc(100% - 30px);
		overflow: hidden;

		&::before {
			content: "";
			position: absolute;
			top: 8px;
			left: 0;
			right: 0;
			height: 2px;
			background: #fff;
			z-index: -1;
		}
	}

	&.edit {
		select + label {
			font-size: 14px;
			transform: translate(0, -30px);
		}
	}

	&.focus {
		select {
			border-color: var(--green);
		}

		select + label {
			color: var(--green);
		}
	}

	.form-item__message {
		margin-top: 4px;
		font-weight: 700;
		font-size: 12px;
		line-height: 14px;
	}

	.has-error {
		position: relative;

		&::before {
			position: absolute;
			top: 16px;
			right: 18px;
			font-family: 'icomoon' !important;
			content: "\e907";
			font-size: 18px;
			color: var(--red);
		}

		select {
			border-width: 2px;
			border-color: var(--red);

			& + label {
				color: var(--red);
			}
		}

		& + .form-item__message {
			font-weight: 700;
			color: var(--red);
		}
	}

	&.form-item_success {
		select {
			border-color: var(--green);

			& + label {
				color: var(--green);
			}
		}
	}

	&.disabled {
		select {
			pointer-events: none;
			border-color: var(--border);
			color: var(--border);
		}

		label {
			color: var(--border);
		}
	}
}