.form-item__switch {
	position: relative;

	label	{
		display: flex;
	}

	input {
		clip: rect(1px, 1px, 1px, 1px);
		width: 0;
		height: 0;
		appearance: none;
		position: absolute;
		top: 0;
		left: 0;

		& + span {
			position: relative;
			width: 48px;
			min-height: 28px;
			display: inline-flex;
			align-items: center;
			justify-content: flex-start;
			cursor: pointer;

			&::before {
				border-radius: 42px;
				border: 2px solid #777;
				transition: 0.15s ease-in-out;
				content: "";
				position: absolute;
				top: 1px;
				left: 0;
				background: #fff;
				width: 48px;
				min-height: 28px;
			}

			&::after {
				border-radius: 42px;
				transition: 0.15s ease-in-out;
				content: "";
				position: absolute;
				top: 6px;
				left: 6px;
				width: 18px;
				height: 18px;
				background: linear-gradient(to bottom, var(--gradient-red-from), var(--gradient-red-to));
				box-shadow: 2px 4px 12px rgba(157, 52, 19, 0.32);
			}
		}

		&:checked + span {
			&::before {
				border-color: var(--green);
			}

			&::after {
				left: 24px;
				background: linear-gradient(to bottom, var(--gradient-green-from), var(--gradient-green-to));
				box-shadow: -2px 4px 12px rgba(19, 157, 114, 0.32);
			}
		}

		&:disabled {
			& + span {
				&::after {
					background-color: #999;
				}
			}
		}
	}

	p {
		margin-left: 8px;
	}

	&_duble {
		p {
			margin: 0;

			&:first-of-type {
				margin-right: 8px;
			}

			&:last-of-type {
				margin-left: 8px;
			}
		}

		input + span {
			&::before {
				border-color: var(--green);
			}

			&::after {
				background: linear-gradient(to bottom, var(--gradient-green-from), var(--gradient-green-to));
				box-shadow: -2px 4px 12px rgba(19, 157, 114, 0.32);
			}
		}
	}
}
