@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSans/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSans/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans/PTSansItalic/PTSans-Italic.eot");
  src: url("../fonts/PTSans/PTSansItalic/PTSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSansItalic/PTSans-Italic.woff") format("woff"), url("../fonts/PTSans/PTSansItalic/PTSans-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans/PTSansBold/PTSansBold.eot");
  src: url("../fonts/PTSans/PTSansBold/PTSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSansBold/PTSansBold.woff") format("woff"), url("../fonts/PTSans/PTSansBold/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue/BebasNeueRegular/BebasNeueRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue/BebasNeueBold/BebasNeueBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
/*# sourceMappingURL=fonts.css.map */