/* product cards */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'PTSans';
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  position: relative;
  background-color: #fff;
  overflow-x: hidden;
  min-height: 100vh;

}

a,
button {
  outline: 0;
  color: #000;
  text-decoration: none;
}

.h1,
.h2,
.h3,
.ul,
.p {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;

  &:not(:last-of-type) {
    margin-bottom: 15px;
  }
}

.ul {
  list-style: none;
}

.btn {
  cursor: pointer;
}

.clear {
  clear: both;
}

.content {
  position: relative;
  padding-top: 164px;
  display: flex;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  @include mq("xl") {
    padding-top: 114px;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "BebasNeue", sans-serif;
	font-weight: 700;
	margin: 0;
	letter-spacing: 0.01em;
}

h1, .h1 {
	font-size: 60px;
	line-height: 60px;
	margin-bottom: 23px;
	text-transform: uppercase;
}

h2, .h2 {
	font-size: 40px;
	line-height: 40px;
	margin-bottom: 24px;
	text-transform: uppercase;
}

.actions-title {
  margin-bottom: 70px;
}

.main-slider {
  margin-top: -56px;
  margin-bottom: 72px;
  position: relative;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  @include mq('sm') {
    margin-bottom: 25px;
  }

  &_slide {
    min-height: 260px;
    background: url("../images/slide-bg.jpg") 0 0 no-repeat;
    background-size: cover;
    padding: 50px 0 60px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &_text {
    text-shadow: 0 0 18px rgba(255, 255, 255, 0.75);
    color: #e35a5a;
    font-family: "PTSans", sans-serif;
    font-size: 107px;
    line-height: 107px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
  }

  &_percent {
    display: inline-block;
    vertical-align: middle;
    background-color: #00af5e;
    height: 148px;

    &--digits {
      color: #fff;
      font-family: "PTSans", sans-serif;
      font-size: 121px;
      line-height: 100px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    &--text {
      color: #fff;
      display: block;
      font-size: 32px;
      line-height: 32px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

.offer-item_image {
  width: 100%;
  max-width: 179px;
  height: 119px;
  margin-bottom: 10px;
}

.offer-item_image img {
  display: block;
  max-width: 100%;
  height: 100%;
}

.offer-item {
  padding: 10px 0px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.offer-item_title {
  display: block;
  color: black;
  font-family: "PTSans", sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  max-width: 132px;
  text-decoration: none;
  margin-bottom: 5px;
}

.offer-item_price {
  color: black;
  font-family: "PTSans", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
}

.offer-item_price i {
  display: inline-block;
  width: 20px;
  height: 22px;
  background: url("../images/rouble-black.png") 0 0 no-repeat;
  background-size: cover;
}

.offer-item_submit {
  color: #fff;
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  display: block;
  width: 100%;
  max-width: 83px;
  background-color: #e65c5c;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
}

.main-slider_content img {
  border-radius: 10px;
  height: 28.4vw;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.delivery_block_cart {
  position: absolute;
  bottom: 12px;
}

.cart-modal {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: #fff;
  width: auto;
  max-width: 900px;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
}

.policy-modal {
  position: relative;
  background-color: #fff;
  width: auto;
  max-width: 900px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
}

.cart-modal_close {
  position: absolute;
  right: 15px;
  top: 15px;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../images/modal-close.png") 0 0 no-repeat;
  background-size: cover;
}

.modal-callback {
  position: relative;
  background-color: #fff;
  width: auto;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
}

.modal-callback_title {
  color: #03ad5e;
  font-family: "PTSans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 12px;
  text-align: center;
  margin-bottom: 30px;
}

.modal-callback_input {
  background-color: #fbfbfb;
  border: 1px solid #efefef;
  border-radius: 3px;
  color: #666;
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  outline: 0;
  display: block;
  margin-bottom: 12px;
  padding: 0 20px;
}

.modal-callback_submit {
  display: block;
  cursor: pointer;
  background-color: #01ae5e;
  border: 0;
  padding: 15px;
  font-family: "PTSans", sans-serif;
  font-size: 16px;
  color: #fff;
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
  margin-top: 30px;
}

.actions-article {
  margin-bottom: 95px;
}

.actions-article_img {
  max-width: 598px;
  margin-right: 40px;
}

.actions-article_img img {
  display: block;
  max-width: 100%;
  height: auto;
}

.actions-article_title {
  color: #03ad5e;
  font-family: "PTSans", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.actions-article_text {
  color: #787878;
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  max-width: 480px;
  margin-bottom: 22px;
}

.actions-article_content {
  max-width: 530px;
}

.actions-article {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.actions-article_promo {
  display: inline-block;
  color: #03ad5e;
  font-family: "PTSans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.actions-article_promo::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background: url("../images/promo-underline.png") 0 0 no-repeat;
}

.actions-list_link {
  color: #787878;
  font-family: "PTSans", sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 15px;
}

.actions-list_text {
  color: #787878;
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.actions-list_items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.actions-list_item {
  max-width: 350px;
  flex-basis: 33%;
}

.actions-list_image {
  width: 100%;
  margin-bottom: 35px;
}

.actions-list_image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.actions-content {
  margin-bottom: 100px;
}

.magnific-popup {
  outline: 0;
  text-decoration: none;
}

.vacancy_headline {
  display: block;
  color: #787878;
  font-family: "PTSans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 20px;
}

.vacancy_headline--send {
  margin-bottom: 50px;
}

.vacancy_text {
  color: #787878;
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
}

.vacancy_item > * {
  color: #333;
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.vacancy_item .vacancy_item_title {
  color: #333;
  font-family: "BebasNeue", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  display: block;
  margin-bottom: 20px;
}

.vacancy_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.vacancy_item {
  width: 500px;
  background-color: var(--background);
  border-radius: 12px;
  max-width: 500px;
  padding: 50px;
  margin-bottom: 20px;
}

.vacancy_title {
  margin-bottom: 35px;
}

.vacancy-form {
  max-width: 985px;
  padding-left: 30px;
}

.vacancy-form form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.vacancy-form_wrap {
  width: 40%;
}

.address-form {
  width: 63%
}

.vacancy-form_input {
  outline: 0;
  color: #9fa3a7;
  font-family: "PTSans", sans-serif;
  font-size: 20px;
  font-style: italic;
  line-height: 30px;
  width: 100%;
  background: #fafafa;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 6px 20px;
  margin-bottom: 25px;
}

.vacancy-form_input--phone {
  color: #787878;
  font-family: "PTSans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
  padding-left: 65px;
  background: #fafafa url("../images/phone-icon.png") 20px 50% no-repeat;
}

.vacancy-form_input--name {
  padding-left: 65px;
  background: #fafafa url("../images/name-icon.png") 20px 50% no-repeat;
}

.vacancy-form_input::-webkit-input-placeholder {
  font-family: "PTSans", sans-serif;
  font-size: 20px;
  font-style: italic;
  color: #9fa3a7;
}

.vacancy-form_input::-moz-placeholder {
  font-family: "PTSans", sans-serif;
  font-size: 20px;
  font-style: italic;
  color: #9fa3a7;
}

/* Firefox 19+ */
.vacancy-form_input:-moz-placeholder {
  font-family: "PTSans", sans-serif;
  font-size: 20px;
  font-style: italic;
  color: #9fa3a7;
}

/* Firefox 18- */
.vacancy-form_input:-ms-input-placeholder {
  font-family: "PTSans", sans-serif;
  font-size: 20px;
  font-style: italic;
  color: #9fa3a7;
}

.vacancy-form_input--phone::-webkit-input-placeholder {
  color: #787878;
  font-family: "PTSans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}

.vacancy-form_input--phone::-moz-placeholder {
  color: #787878;
  font-family: "PTSans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}

.vacancy-form_input--phone:-moz-placeholder {
  color: #787878;
  font-family: "PTSans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}

.vacancy-form_input--phone:-ms-input-placeholder {
  color: #787878;
  font-family: "PTSans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}

.vacancy-form_select {
  background: #fafafa url("../images/select-arrow.png") 95% 50% no-repeat;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  width: 100%;
  max-width: 320px;
  margin-bottom: 35px;
}

.vacancy-form_select select option {
  background-color: #fafafa;
  border: 0;
  padding-right: 30px;
  height: 44px;
  width: 100%;
}

.vacancy-form_select>select {
  cursor: pointer;
  outline: 0;
  width: 100%;
  color: #9fa3a7;
  font-style: italic;
  font-family: "PTSans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  background: transparent;
  border: 0;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 6px 20px;
}

.vacancy-form_resume {
  color: #00b05e;
  font-family: "PTSans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: underline;
  text-underline-position: under;
}

.vacancy-form_resume:hover {
  text-decoration: none;
}

.vacancy-form_input--textarea {
  width: 65%;
  height: 120px;
  resize: none;
  padding: 15px 15px 15px 40px;
  margin-bottom: 40px;
}

.vacancy-submit {
  outline: 0;
  border: 0;
  color: white;
  font-family: "PTSans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 47px;
  background-color: #00b05d;
  border-radius: 10px;
  max-width: 280px;
  display: block;
  width: 100%;
  cursor: pointer;
  margin-left: auto;
}

.payment-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.payment-content_item {
  width: 50%;
  max-width: 470px;
  padding-left: 100px;
  margin-bottom: 50px;
}

.payment-content_item--where {
  background: url("../images/mobile-icon.png") 0 8px no-repeat;
}

.payment-content_item--to {
  background: url("../images/map-point.png") 0 8px no-repeat;
}

.payment-content_item--when {
  background: url("../images/sand-clock.png") 0 8px no-repeat;
}

.payment-content_item--how {
  background: url("../images/wallet.png") 0 8px no-repeat;
}


.payment-content_item--question {
  background: url("../images/icon-question.png") 0 8px no-repeat;
}

.payment-content_item--bonus {
  background: url("../images/icon-bonus.png") 0 8px no-repeat;
}

.payment-content_item--money {
  background: url("../images/icon-money.png") 0 8px no-repeat;
}

.payment-content_item--spend {
  background: url("../images/icon-spend.png") 0 8px no-repeat;
}

.payment-content_title {
  color: #787878;
  font-family: "PTSans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 20px;
  display: block;
}

.payment-content_subtitle,
.payment-zone_paragrap {
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #787878;
  font-weight: 700;
  display: block;
}

.payment-content_text,
.payment_phone-order {
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #787878;
  font-weight: 400;
}

.payment-content_text {
  max-width: 360px;
}

.payment-content_wrap {
  margin-bottom: 30px;
}

.payment-link {
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #00b05e;
  font-weight: 400;
  text-decoration: underline;
}

.payment-zone_text {
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #787878;
  font-weight: 700;
}

.payment-zone_text--green {
  color: #00b05d;
}

.payment-zone_text--yellow {
  color: #cab000;
}

.payment-zone_text--blue {
  color: #4285f4;
}

.payment-zone_text--red {
  color: #e15959;
}

.payment_title {
  margin-bottom: 60px;
}

.payment-zone_item {
  color: #787878;
}

.payment-map {
  width: 100%;
}

.payment-content_list {
  list-style: disc;
}

.progress {
  margin-bottom: 65px;
}

.progress_list {
  max-width: 520px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.progress_item:last-child .progress_item-circle {
  margin-right: 0px;
}

.progress_item:last-child .progress_item-circle::after {
  display: none;
}

.progress_item .progress_item-circle {
  position: relative;
  display: block;
  color: #fff;
  font-family: "PTSans", sans-serif;
  font-size: 12px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  width: 30px;
  height: 30px;
  background-color: #e15959;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
}

.progress_item .progress_item-circle::after {
  content: '';
  display: block;
  position: absolute;
  left: 30px;
  top: 15px;
  width: 240px;
  height: 2px;
  background-color: #e15959;
}

.progress_item--completed .progress_item-circle {
  background-color: #00b05d;
}

.progress_item--completed .progress_item-circle::after {
  background-color: #00b05e;
}

.progress_item--completed .progress_item-circle--current {
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin-bottom: 10px;
}

.progress_item--completed .progress_item-circle--current::before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  position: absolute;
  border-radius: 50%;
  top: 3px;
  left: 3px;
}

.progress_item-title {
  display: block;
  color: #787878;
  font-family: "PTSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.progress_item-title--current {
  font-weight: 700;
}

.pay-wrap {
  max-width: 970px;
  margin: auto;
}

.pay-tab {
  margin-bottom: 50px;
}

.pay-tab_list {
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.pay-tab_link {
  color: #787878;
  font-family: "PTSans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 68px;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 100%;
  border-right: 1px solid #c0c0c0;
}

.pay-tab_link--active {
  background-color: #00b05d;
  color: #fff;
  border: 0;
}

.pay-tab_item {
  width: 33.333333%;
  max-width: 325px;
}

.pay-tab_item:last-child .pay-tab_link {
  border: 0;
}

.pay-total {
  display: none;
  min-height: 110px;
  margin-bottom: 80px;
}

.pay-total--active {
  display: block;
}

.pay-total_title {
  color: #787878;
  font-family: "PTSans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  display: inline-block;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  padding-right: 30px;
}

.pay-total_title-wrap {
  position: relative;
  margin-bottom: 35px;
}

.pay-total_title-wrap::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}

.vacancy-form_select>select:active,
.vacancy-form_select>select:focus {
  background: #fafafa url(../images/select-arrow-up.png) 95% 50% no-repeat;
}

.pay-total-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.cart-total_text {
  display: inline-block;
  vertical-align: middle;
  color: #010000;
  font-family: "BebasNeue", sans-serif;
  font-size: 57px;
  font-weight: 700;
  line-height: 57px;
  text-transform: uppercase;
  margin-right: 30px;
}

.cart-total_count {
  display: inline-block;
  vertical-align: middle;
  color: #009750;
  font-family: "BebasNeue", sans-serif;
  font-size: 57px;
  line-height: 57px;
  font-weight: 700;
  text-transform: uppercase;
}

.cart-total_count i {
  background: url("../images/rouble-green.png");
  display: inline-block;
  vertical-align: baseline;
  width: 26px;
  height: 29px;
}

.pay-total_submit {
  display: block;
  border: 0;
  outline: 0;
  color: #fff;
  font-family: "PTSans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 49px;
  background-color: #00b05d;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 280px;
  cursor: pointer;
}

.purchase-offers_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -40px 70px 0;
}

.purchase-offers_item {
  width: 272px;
  max-width: 272px;
  min-height: 339px;
  padding: 0;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  position: relative;
  margin: 0 40px 30px 0;
}

.purchase-offers_item--add {
  background: url("../images/green-item.png") 0 0 no-repeat;
  padding: 180px 45px 45px 45px;
  border: 0;
  position: relative;
}

.purchase-offers_item::after {
  content: '';
  display: block;
  width: 19px;
  height: 19px;
  background: url("../images/green-plus.png") 0 0 no-repeat;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.purchase-offers_item:last-child::after {
  display: none;
}

.purchase-offers_bonus {
  color: #fff;
  font-family: "PTSans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  display: block;
  text-align: center;
}

.purchase-offers_bonus--top {
  margin-bottom: 20px;
}

.purchase-offers_sum {
  color: #fff;
  font-family: "PTSans", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 30px;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.purchase-offers_sum i {
  display: inline-block;
  vertical-align: top;
  width: 26px;
  height: 29px;
  background: url("../images/rouble-large.png") 0 0 no-repeat;
}

.purchase-offers_btn {
  background-color: #e65c5c;
  overflow: hidden;
  width: 90px;
  border-radius: 30px;
}

.purchase-offers_count {
  color: #fff;
  font-family: "PTSans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  width: 26px;
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  border: 0;
  outline: 0;
  background-color: #e65c5c;
  text-align: center;
  cursor: pointer;
}

.purchase-offers_count--digit {
  width: 26px;
  text-align: center;
}

.purchase-offers_count--minus {
  line-height: 28px;
  padding-left: 10px;
}

.purchase-offers_count--plus {
  line-height: 28px;
  padding-right: 10px;
}

.purchase-offers_add {
  display: block;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 71px;
  height: 71px;
  background: url("../images/add-btn.png") 0 0 no-repeat;
  outline: 0;
}

.recommends_list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.recommends_item {
  width: 272px;
  max-width: 272px;
  min-height: 387px;
  padding: 30px 0 30px 0;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  margin-right: 30px;
  position: relative;
}

.recommends_item--add {
  background-color: #01ae5e;
  border: 0;
  padding: 20px 35px 35px 35px;
}

.h2 {
  color: #010000;
  font-family: "BebasNeue", sans-serif;
  font-size: 57px;
  line-height: 57px;
  font-weight: 700;
  text-transform: uppercase;
}

.recommends_title {
  margin-bottom: 70px;
}

.tools {
  margin-bottom: 100px;
}

.tools-list_img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.tools-list_img img {
  display: block;
  max-width: 100%;
  height: 100%;
}

.tools_title {
  margin-bottom: 70px;
}

.tools-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 865px;
}

.tools-list_item {
  width: 33.33%;
  max-width: 215px;
  min-height: 225px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.tools-list_title {
  display: block;
  color: #787878;
  font-family: "PTSans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  width: 100%;
}

.tools-list_title::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #00b05e;
  margin-top: 20px;
}

.tools-list_btn {
  background-color: #e65c5c;
  overflow: hidden;
  width: 88px;
  border-radius: 30px;
  cursor: pointer;
}

.purchase-form_input {
  outline: 0;
  color: #9fa3a7;
  font-family: "PTSans", sans-serif;
  line-height: 26px;
  width: 100%;
  max-width: 320px;
  background: #fafafa;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 9px 20px;
  font-size: 14px;
  font-weight: 400;
}

.purchase-total {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.purchase-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 550px;
}

.purchase-form_label {
  color: #787878;
  font-family: "PTSans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.purchase-form_btn {
  display: block;
  border: 0;
  outline: 0;
  line-height: 45px;
  background-color: #00b05d;
  border-radius: 10px;
  height: 45px;
  width: 150px;
  text-decoration: none;
  margin-left: auto;

  color: white;
  font-family: "PTSans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.purchase-cards {
  width: 12%;
  max-width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purchase-cards_img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  overflow: hidden;
}

.purchase-cards_img--visa {
  background: url("../images/visa.png") 0 0 no-repeat;
}

.purchase-cards_img--mastercard {
  background: url("../images/mc.png") 0 0 no-repeat;
}

.drinks-list {
  justify-content: space-between;
  margin: 0 -10px 60px 0;
}

.drinks-list_item {
  width: 233px;
  height: 290px;
  padding: 0 0 30px 0;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  position: relative;
  float: left;
  margin: 10px
}

.drinks-list_img img {
  margin: auto;
  display: block;
  max-width: 100%;
  height: 155px;
  border-radius: 10px 10px 0 0;
}

.drinks-list_title {
  display: block;
  width: 100%;
  max-width: 100%;
}

.drinks-modal,
.composite_modal {
  background: #ffffff;
  max-width: 1160px;
  padding: 55px 70px 65px 70px;
  border: 2px solid #00552d;
  border-radius: 16px;
  box-shadow: 0 9px 22.3px 1.7px rgba(99, 116, 108, 0.75);
  margin: auto;
  position: relative;
}

.drinks-modal_close,
.composite-modal_close {
  display: block;
  text-decoration: none;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 24px;
  height: 25px;
  background: url("../images/red-close.png") 0 0 no-repeat;
}

.drinks-modal_title {
  margin-bottom: 60px;
}

.drinks-modal_hide {
  display: block;
  border: 0;
  outline: 0;
  color: #fff;
  font-family: "PTSans", sans-serif;
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  width: 107px;
  height: 34px;
  background-color: #00b05d;
  border-radius: 9px;
  margin: 0 auto;
  cursor: pointer;
}

.save_composite {
  display: block;
  border: 0;
  outline: 0;
  color: #fff;
  font-family: "PTSans", sans-serif;
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  width: 107px;
  height: 34px;
  background-color: #e65c5c;
  border-radius: 9px;
  margin: 0 auto;
  cursor: pointer;
}

.tab-content {
  display: none;
  margin-bottom: 30px;
}

.tab-content--active {
  display: block;
}

.delivery-tab_item {
  width: 50%;
  max-width: 485px;
}

.delivery-wrap {
  max-width: 970px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.submit-tab_list {
  max-width: 480px;
}

.submit-tab_item {
  width: 50%;
}

.submit-deliver_form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.deliver-form_wrap {
  display: flex;
  justify-content: space-between;
}

.deliver-form_small {
  padding: 6px 10px;
  text-align: center;
  margin-right: 1%;
}

.deliver-form_small--pod {
  margin-right: 1%;
}

.deliver-form_small--floor {}

.deliver-form_input--street {
  padding-left: 30px;
}

.deliver-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.vacancy-form_input {
  margin-bottom: 31px;
}

.take-list_item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fafafa;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 35px;
}

.take-list_item:last-child {
  margin-bottom: 0;
}

.take-list_img {
  max-width: 250px;
  height: 200px;
}

.take-list_img img {
  display: block;
  max-width: 100%;
  height: 100%;
}

.take-list_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 35px 35px 25px;
  margin-left: 15px;
  width: 90%;
  max-width: 700px;
  flex-wrap: wrap;
  position: relative;
}

.take-list_cont::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 160px;
  background-color: #e6e6e6;
}

.take-list_title {
  display: block;
  width: 100%;
  max-width: 500px;
  color: #787878;
  font-family: "PTSans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 10px;
  padding-left: 30px;
  background: url("../images/take-point.png") 0 50% no-repeat;
}

.take-list_address {
  display: block;
  width: 100%;
  max-width: 500px;
  color: #787878;
  font-family: "PTSans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 10px;
  padding-left: 30px;
}

.take-list_time {
  display: block;
  width: 100%;
  max-width: 500px;
  color: #00b05d;
  font-family: "PTSans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  padding-left: 30px;
  background: url("../images/take-clock.png") 0 50% no-repeat;
}

.take-list_choose {
  display: block;
  outline: 0;
  border: 0;
  width: 107px;
  line-height: 34px;
  background-color: #e65c5c;
  border-radius: 9px;
  text-align: center;
  color: white;
  font-family: "PTSans", sans-serif;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.take_list_choose_active {
  background-color: #00b05d;
}

.delivery-time_check {
  display: none;
}

.delivery-time_check+label {
  position: relative;
  cursor: pointer;
}

.delivery-time_check+label:before {
  content: '';
  position: absolute;
  top: -4px;
  right: -100px;
  width: 80px;
  height: 40px;
  border-radius: 40px;
  background: #e15959;
  transition: .2s;
}

.delivery-time_check+label:after {
  content: '';
  position: absolute;
  top: 0px;
  right: -95px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  transition: .2s;
  box-shadow: 0 1px 3px rgba(8, 11, 29, 0.13);
}

.delivery-time_check:checked+label:before {
  background: #00b05d;
}

.delivery-time_check:checked+label:after {
  right: -58px;
}

.delivery-time_check:checked~.delivery-select {
  visibility: hidden;
}

.delivery-select {
  position: relative;
  top: 56px;
}

.delivery-time_title {
  color: #787878;
  font-family: "PTSans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 40px;
}

.delivery-time_title::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 200px;
  width: 115px;
  height: 1px;
  background-color: #e6e6e6;
}

.delivery-time_label {
  color: #e15959;
  font-family: "PTSans";
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  font-family: "PTSans", sans-serif;
}

.delivery-time_check:checked+.delivery-time_label {
  color: #a9adb0;
}

.delivery-select_input {
  outline: 0;
  color: #9fa3a7;
  font-family: "PTSans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  width: 100%;
  background: #fafafa;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 6px 8px 6px 7px;
  max-width: 160px;
}

.delivery-select_input--time {
  max-width: 65px;
}

.delivery-select_input.datepicker {
  padding-left: 50px;
  background: #fafafa url("../images/calendar.png") 20px 50% no-repeat;
}

.delivery-time_content {
  max-width: 460px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.delivery-select_title {
  color: #9fa3a7;
  font-family: "PTSans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  display: block;
  margin-bottom: 30px;
  padding-left: 10px;
}

.ui-datepicker td span,
.ui-datepicker td a {
  text-align: center;
}


.deliver-form_small {
  margin-bottom: 0;
}

.deliver-form_textarea {
  width: 100%;
  margin-bottom: -15px;
}

.vacancy-form_left,
.field-deliveryform-comment {
  display: inline-block;
}

.field-deliveryform-comment {
  padding-bottom: 20px;
  width: 62.5%;
}

.field-deliveryform-street {
  width: 100%;
}

.address-form2 {
  display: flex;
}

.address-form2 .form-group {
  margin-right: 5px;
}

.city_label {
  color: #787878;
  font-family: "PTSans", sans-serif;
  font-size: 24px;
}



.delivery-time_submit {
  max-width: 470px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.delivery-time {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.delivery-agreement_btn {
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  text-align: center;
  max-width: 280px;
  background-color: #00b05d;
  border-radius: 10px;
  color: #fff;
  font-family: "PTSans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 49px;
  margin-left: auto;
  margin-right: auto;

}

.btn-payment {
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  text-align: center;
  max-width: 380px;
  background-color: #00b05d;
  border-radius: 10px;
  color: #fff;
  font-family: "PTSans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 69px;
  margin-left: auto;
  margin-right: auto;
}

.delivery-agreement_text {
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 30px;
  color: #9fa3a7;
  margin-bottom: 30px;
}

.delivery-agreement_text a {
  color: #00b05d;
  text-decoration: underline;
}

.datepicker-wrap {
  position: relative;
  display: inline-block;
}

.datepicker-wrap,
.field-deliveryform-time_delivery {
  display: inline-block;
}

@media all and (max-width: 1169px) {
  .vacancy_list {
    justify-content: center;
  }

  .field-deliveryform-comment {
    width: 100%;
  }

  .vacancy-form_input--textarea {
    width: 100%;
  }

  .purchase-offers_item::after {
    display: none;
  }

  .purchase-offers_item {
    margin-bottom: 30px;
  }

  .drinks-modal {
    padding: 30px;
  }

  .take-list_cont {
    max-width: 660px;
  }
}

@media all and (max-width: 991px) {
  .main-slider_text {
    font-size: 70px;
    line-height: 70px;
  }

  .main-slider_percent--digits {
    font-size: 100px;
  }

  .main-slider_percent--text {
    font-size: 28px;
  }

  .actions-list_item {
    flex-basis: 50%;
    margin-bottom: 30px;
  }

  .actions-article_img {
    max-width: 100%;
    margin-right: 0;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .actions-article_content {
    width: 100%;
    max-width: 100%;
  }

  .actions-article_title {
    display: block;
    text-align: center;
  }

  .actions-article_text {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .actions-article,
  .actions-content {
    margin-bottom: 40px;
  }

  .vacancy-form_input--name,
  .vacancy-form_input--phone {
    padding-left: 50px;
  }

  .vacancy-form_input,
  .vacancy-form_select>select {
    font-size: 16px;
  }

  .vacancy-form_input::-webkit-input-placeholder {
    font-size: 16px;
  }

  .vacancy-form_input::-moz-placeholder {
    font-size: 16px;
  }

  /* Firefox 19+ */
  .vacancy-form_input:-moz-placeholder {
    font-size: 16px;
  }

  /* Firefox 18- */
  .vacancy-form_input:-ms-input-placeholder {
    font-size: 16px;
  }

  .vacancy-submit {
    max-width: 230px;
    font-size: 18px;
    line-height: 40px;
  }

  .purchase-offers_list {
    justify-content: space-around;
  }

  .recommends_item {
    margin-bottom: 30px;
  }

  .purchase-cards {
    width: 20%;
  }

  .purchase-total {
    flex-wrap: wrap;
  }

  .drinks-list {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
  }

  .drinks-list_item {
    margin-bottom: 20px;
  }

  .drinks-modal_title {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 30px;
  }

  .pay-tab_link {
    font-size: 20px;
  }

  .take-list_img {
    max-width: 180px;
    height: 125px;
  }

  .take-list_cont {
    padding: 25px;
  }

  .take-list_title {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .take-list_choose {
    font-size: 16px;
  }

  .take_list_choose_active {
    background-color: #00b05d;
  }

  .take-list_cont {
    max-width: 520px;
  }

  .take-list_title,
  .take-list_address,
  .take-list_time {
    line-height: 20px;
  }

  .address-form2 {
    display: block;
  }
}


@media all and (max-width: 767px) {
  .delivery-select {
    top: -6px;
  }

  .delivery-time_content {
    max-width: 100%;
  }

  .contact-data .vacancy-form_left {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  .actions-article_img {
    width: 100%;
    max-width: 100%;
  }

  .h1 {
    font-size: 34px;
    line-height: 34px;
  }

  .actions-title {
    margin-bottom: 30px;
  }

  .actions-list_item {
    flex-basis: 100%;
  }

  .actions-list_items {
    justify-content: center;
  }

  .vacancy-form_wrap,
  .vacancy-form_input--textarea,
  .vacancy-form_select {
    width: 100%;
    max-width: 100%;
  }

  .vacancy-form {
    padding-left: 0;
  }

  .vacancy-submit {
    margin-left: 0;
  }

  .vacancy-form_select,
  .vacancy-form_resume {
    display: block;
    margin-bottom: 20px;
  }

  .payment-content_item {
    width: 100%;
    padding-left: 60px;
    margin-bottom: 20px;
  }


  .payment-content_item--question {
    background-size: 45px;
  }

  .payment-content_item--bonus {
    background-size: 45px;
  }

  .payment-content_item--money {
    background-size: 45px;
  }

  .payment-content_item--spend {
    background-size: 45px;
  }

  .payment-content_item--where {
    background-size: 40px 45px;
  }

  .payment-content_item--to {
    background-size: 45px;
  }

  .payment-content_item--when {
    background-size: 35px 45px;
  }

  .payment-content_item--how {
    background-size: 40px;
  }

  .payment-content_text,
  .payment-content_subtitle,
  .payment-zone_paragrap {
    line-height: 20px;
  }

  .payment-content_wrap,
  .payment-zone_item {
    margin-bottom: 15px;
  }

  .payment_title {
    margin-bottom: 40px;
  }

  .pay-tab_link {
    font-size: 14px;
    line-height: 36px;
    height: 100%;
  }

  .pay-total {
    margin-bottom: 50px;
  }

  .cart-total {
    margin-bottom: 20px;
  }

  .recommends_title,
  .tools_title {
    font-size: 34px;
    line-height: 34px;
  }

  .recommends_list {
    justify-content: space-around;
  }

  .tools-list_item {
    width: 100%;
    margin-bottom: 30px;
  }

  .tools-list {
    justify-content: space-around;
  }

  .purchase-total_left,
  .purchase-form {
    margin-bottom: 20px;
  }

  .purchase-form_input {
    max-width: 270px;
  }

  .purchase-cards {
    width: 100%;
  }

  .deliver-form_wrap {
    margin-bottom: 30px;
  }

  .take-list_img {
    margin: auto;
  }

  .take-list_cont {
    margin-left: 0;
  }

  .take-list_cont::before {
    display: none;
  }

  .sort-options {
    width: 90%;
    margin-left: 10px;
  }
}

@media all and (max-width: 360px) {
  .btn-payment {
    font-size: 20px;
    line-height: 49px;
    max-width: 280px;
  }
}

@media all and (max-width: 479px) {
  .main-slider_text {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 10px;
  }

  .main-slider_slide {
    padding: 25px 0;
  }

  .cart-modal {
    flex-direction: column;
    padding: 40px 15px 15px 15px;
    border-radius: 0;
  }

  .policy-modal {
    margin: 0 auto;
  }

  .vacancy_item {
    padding: 15px;
  }

  .vacancy_item_text {
    line-height: 20px;
  }

  .vacancy_list {
    margin-bottom: 10px;
  }

  .vacancy-form_input--textarea {
    padding-left: 15px;
  }

  .pay_title {
    margin-bottom: 20px;
  }

  .pay-tab_link {
    line-height: 14px;
    padding: 5px 0;
  }

  .cart-total_text,
  .cart-total_count {
    font-size: 36px;
    line-height: 36px;
  }

  .cart-total_text {
    margin-right: 0;
  }

  .cart-total_count i {
    width: 18px;
    height: 21px;
    background-size: cover;
    vertical-align: middle;
  }

  .pay-total_submit {
    font-size: 18px;
  }

  .recommends_item--add {
    background: url(../images/rec-green.png) 50% 0 no-repeat;
  }

  .purchase-form {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .purchase-form_label,
  .purchase-form_input {
    margin-bottom: 15px;
  }

  .drinks-modal_close {
    top: 10px;
    right: 10px;
  }

  .take-list_cont {
    padding: 15px;
  }

  .take-list_time {
    margin-bottom: 20px;
  }

  .take-list_cont {
    justify-content: center;
  }

  .delivery-select {
    margin-top: 20px;
  }

  .delivery-select_title {
    margin-bottom: 20px;
  }

  .deliver-form_input {
    margin-bottom: 15px;
  }

  a.sort-option {
    display: block;
    text-align: center;
  }

  a.sort-r {
    float: none;
  }

  a.sort-option--active {
    border: none;
  }
}

@media all and (min-width: 1170px) {
  .delivery-form-time-left {
    position: absolute;
  }

  .sort-options {
    width: 70%;
    margin-left: 10px;
  }

  .sort-options ul.pay-tab_list {
    width: 67%;
  }

  .sort-options,
  .sort-reset {
    display: inline-table;
  }
}

@media all and (min-width: 768px) and (max-width: 1169px) {
  .field-deliveryform-comment {
    margin-top: 65px;
  }
}

#phone_for_yourself {
  width: 75%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#phone_for_yourself p {
  font-size: 24px;
  font-weight: bold;
}

.minimum_order_price,
.working_time_alert {
  color: #e15959;
}

.alert_input_text {
  color: #e15959;
  display: none;
}

.alert_input {
  border: 1px solid #e15959;
}

.product-full-comment {
  display: none;
}

.help-block {
  color: #df5c59;
}

.sale-phone-container {
  width: 300px;
  margin: 0 auto;
}

.field-deliveryform-pickup_id {
  text-align: center;
}

.discount_block {
  display: none;
  text-align: center;
}

.discount_block h3 {
  color: red;
}

.discount_block h3 span {
  color: black;
  text-decoration: line-through;
}

.error-summary p {
  margin: 0;
}

.error-summary ul {
  margin: 0;
  color: #df5c59;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.btn_composite_item_add {
  text-decoration: none;
}

.btn_composite_item_add--select {
  border: 1px solid #00b05d;
  border-radius: 15px;
}

.btn_composite_item_add--select img {
  filter: alpha(Opacity=25);
  opacity: 0.25;
}

.btn_composite_item_add--select::before {
  content: '';
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  background: url("../images/select.png") 0 0 no-repeat;
  width: 48px;
  height: 48px;
  top: 10px;
  left: 173px;
  z-index: 10;
}

.composite_food_alert {
  border: 1px solid red;
}

.composite_alert_text {
  color: red;
  text-align: center;
}

.composite_food {
  display: inline-block;
  height: 335px;
  min-height: 1px;
  color: #03ad5e;
}

.composite_food a {
  color: #03ad5e;
  text-decoration: none;
}

.composite_food a:hover {
  text-decoration: underline;
}

.composite_food a:focus {
  outline: 0;
}

.col-lg-offset-1 {
  margin-left: 0;
}

.food_icons {
  position: absolute;
  margin-left: 222px;
}

.food_icons img {
  display: block;
}

.page article {
  font-size: 20px;
}

div.submit div.submit-1st:not(.type-delivery-tab) {}

#phone_block,
#name_block {
  display: inline-block;
}

.sort-options,
.sort-reset {
  margin-left: 10px;
}

.sort-reset {
  width: 28%;
}

.sort-reset li,
.sort-reset li a {
  width: 100%;
}

.sort-block {
  margin-right: 15px;
  margin-left: 15px;
}

.sort-option {
  margin: 10px;
  color: #787878;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
}

.sort-option--active {
  border-bottom: 1px dotted #01ae5e;
  color: #01ae5e;
}

.sort-option:hover {
  color: #01ae5e;
  border-bottom: 1px solid #01ae5e;
}

.sort-r {
  float: right;
}

.title-category {
  margin-left: 10px;
}

.not_working_time {
  color: red;
  text-align: center;
}

.modal-working-time {
  position: relative;
  width: 700px;
  height: 295px;
  background: #270d03;
  border-radius: 10px;
  padding-left: 0px;
  padding-bottom: 0px;
}

.modal-working-time img {
  top: 0px;
  position: absolute;
  margin: 0;
}

.modal-working-time h1 {
  font-family: "BebasNeue", sans-serif !important;
  font-weight: lighter;
  font-size: 32px;
  color: #d90f20;
  float: left;
}

.modal-working-time span {
  width: 347px;
  height: 44px;
  float: left;
  color: #FFF;
  font-family: "PTSans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.modal-working-time-container {
  position: absolute;
  left: 250px;
  top: 35px;
  padding: 20px;
  padding-left: 30px;
  height: 100%;
}

.modal-working-time-button {
  display: inline-block;
  width: 160px;
  height: 38px;
  color: #fff;
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  line-height: 34px;
  background-color: #019d55 !important;
  border-radius: 9px;
  font-weight: lighter;
  text-decoration: none;
  text-align: center;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: linear-gradient(180deg, #019d55 0%, #019d55 100%);
  border-radius: 9px;
  position: absolute;
  bottom: 100px;
  left: 30px;
}

.working-time-close {

  background: url("../images/small-white-cross.png") 0 0 no-repeat !important;
  background-size: cover !important;
}

.delivery--progress {
  height: 40px;
  border: none;
  background: #FFF;
  -webkit-box-shadow: none;
}

.deliver-form_wrap {
  margin-top: 10px;
}

.drinks-list_item .food_icons {
  margin-left: 182px;
}

/* new footer */
.footer {
  position: relative;
  background-color: #1f1f1f;
  color: #fff;
  line-height: 1.43;
  padding: 0;
  margin-bottom: 96px;
  letter-spacing: 1px;

  @include mq("md") {
    margin-bottom: 60px;
  }
}

.footer a {
  transition: .25s ease-in-out;
  color: inherit;
}

.footer a:hover {
  opacity: 0.7;
}

.footer p {
  margin-top: 0;
  margin-bottom: 0;
}

.footer::before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  background-image: url(../images/bear-sell-footer.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  width: 353px;
  height: 386px;
  pointer-events: none;
}

.footer-main {
  padding-top: 80px;
  padding-bottom: 20px;
  position: relative;
}

.footer-main::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  content: "";
  border-bottom: 1px solid #000;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.footer-main .footer-main-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-bottom: 60px;
}

.footer-main .footer-main-content-all {
  display: flex;
  flex-direction: column;
}

.footer-main .footer-main-content-all p {
  color: #8f8f8f;
}

.footer-main .footer-main-content-all p:first-of-type {
  margin-top: -4px;
}

.footer-main .footer-main-content-all p:last-of-type {
  margin-top: 26px;
}

.footer-main .footer-main-content__time {
  font-family: "BebasNeue", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #E65C5C;
  margin-top: 20px;
}

.footer-main .footer-main-content__phone {
  font-family: "BebasNeue", sans-serif;
  font-weight: 400;
  font-size: 46px;
  line-height: 1.1;
  color: #03AD5E;
  text-decoration: none;
  margin-top: 5px;
}

.footer-main .footer-main-content__social {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 30px;
}

.footer-main .footer-main-content__social a i {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-main .footer-main-content__social a i.icon-soc-vk {
  background-color: #5181b8;
  background-image: url(../images/icon-vk.svg);
}

.footer-main .footer-main-content__social a i.icon-soc-instagram {
  background-color: #fff;
  background-image: url(../images/icon-instagram.svg);
}

.footer-main .footer-main-content__social a:not(:last-of-type) {
  margin-right: 15px;
}

.footer-main-content__apps {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 15px;
}

.footer-main-content__apps a i {
  display: inline-block;
  width: 130px;
  height: 38px;
  border: 1px solid #a6a6a6;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-image: url(../images/icons-apps.png);
  background-size: 200%;
  background-color: #000;
}

.footer-main-content__apps a i.icon-app__google-play {
  background-position: 2px 0;
}

.footer-main-content__apps a i.icon-app__app-store {
  background-position: -130px 0;
}

.footer-main-content__apps a:not(:last-of-type) {
  margin-right: 10px;
}

.footer-main .footer-main-content-list .footer-main-content-list__title {
  font-family: "BebasNeue", sans-serif;
  letter-spacing: 0.2px;
  font-size: 20px;
  line-height: 1;
  color: #8f8f8f;
  margin-top: 0;
  margin-bottom: 27px;
  text-transform: uppercase;
  display: inline-block;
}

.footer-main .footer-main-content-list .footer-main-content-list__title span {
  position: relative;
}

.footer-main .footer-main-content-list .footer-main-content-list__title span::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 41px;
  content: "";
  border: 1px solid #e65c5c;
  border-radius: 2px;
}

.footer-main .footer-main-content-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-main .footer-main-content-list li:not(:last-of-type) {
  margin-bottom: 12px;
}

.footer-main .footer-main-content-list li a {
  text-decoration: none;
}

.footer-main .footer-main-content+p {
  text-align: center;
  color: #666;
}

.footer-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}

.footer-bottom .footer-bottom-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom .footer-bottom__policy {
  text-decoration: underline;
}

.footer-bottom .footer-bottom__copy {
  text-transform: uppercase;
}

.footer-bottom .footer-bottom__developer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-bottom .footer-bottom__developer p {
  color: #8F8F8F;
}

.footer-bottom .footer-bottom__developer a {
  height: 20px;
  margin-left: 15px;
}

@media only screen and (max-width: 992px) {

  .footer-main .footer-main-content-all p:first-of-type br,
  .footer-main .footer-main-content+p br {
    display: none;
  }

  .footer-main .footer-main-content {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 40px;
  }

  .footer-bottom .footer-bottom-wrap {
    flex-direction: column;
  }

  .footer-bottom .footer-bottom-wrap>*:not(:first-child) {
    margin-top: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .footer-main {
    padding-top: 50px;
    text-align: center;
  }

  .footer-main .footer-main-content {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
  }

  .footer-main .footer-main-content__social,
  .footer-main .footer-main-content__apps {
    justify-content: center;
  }

  .footer-main .footer-main-content-list .footer-main-content-list__title {
    margin-bottom: 0;
  }

  .footer-main .footer-main-content-list .footer-main-content-list__title span {
    padding-right: 20px;
  }

  .footer-main .footer-main-content-list .footer-main-content-list__title span:before {
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 0;
    content: "";
    border: 5px solid transparent;
    border-top-color: #8f8f8f;
  }

  .footer-main .footer-main-content-list.opened .footer-main-content-list__title span:before {
    transform: rotate(180deg) translateY(6px);
  }

  .footer-main .footer-main-content-list ul {
    overflow: hidden;
    height: 0;
    transition: 0.25s ease-in-out;
  }

  .footer-main .footer-main-content-list ul li:first-child {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 601px) {
  .footer-main .footer-main-content-list ul {
    height: auto !important;
  }
}

/* new footer */
.cb-payment-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 80px 30px;
}

@media only screen and (max-width: 768px) {
  .cb-payment-content {
    grid-template-columns: 1fr;
    grid-gap: 50px 0;
  }
}

.cb-payment-content_item {
  padding-left: 104px;
  padding-top: 17px;
  max-width: 520px;
  position: relative;
}

@media only screen and (max-width: 576px) {
  .cb-payment-content_item {
    padding-top: 12px;
    padding-left: 80px
  }
}

.cb-payment-content_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
}

@media only screen and (max-width: 576px) {
  .cb-payment-content_image {
    width: 45px;
    height: 45px;
  }
}

.cb-payment-content_title {
  color: black;
  font-family: "BebasNeue", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  display: block;
}

.cb-payment-content_wrap {
  margin-top: 36px;
}

@media only screen and (max-width: 576px) {
  .cb-payment-content_wrap {
    margin-top: 24px;
  }
}

.cb-payment-content_subtitle {
  font-size: 22px;
  line-height: 26px;
  color: black;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}

@media only screen and (max-width: 576px) {
  .cb-payment-content_subtitle {
    font-size: 20px;
    line-height: 24px;
  }
}

.cb-payment-content_text {
  margin: 0 0 10px 0;
  font-size: 18px;
  line-height: 26px;
  color: #555;
  font-weight: 400;
}

@media only screen and (max-width: 576px) {
  .cb-payment-content_text {
    font-size: 16px;
    line-height: 24px;
  }
}

.cb-payment-zone_text {
  font-size: 18px;
  line-height: 26px;
  color: black;
  font-weight: 700;
}

@media only screen and (max-width: 576px) {
  .cb-payment-zone_text {
    font-size: 16px;
    line-height: 24px;
  }
}

.cb-payment-zone_text--green {
  color: #00b05d;
}

.cb-payment-zone_text--blue {
  color: #4285f4;
}

.cb-payment-zone_text--red {
  color: #e15959;
}

.cb-payment-zone_text--gray {
  color: #737373;
}

.cb-payment_title {
  margin-bottom: 60px;
}

.cb-payment-zone_item {
  color: #787878;
}

.cb-payment-content_list {
  margin-top: 22px;
  margin-bottom: 0;
  list-style: disc;
}

@media only screen and (max-width: 576px) {
  .cb-payment-content_list {
    margin-top: 16px;
  }
}

/* Ð°ÐºÑ†Ð¸Ð¸ */

.cn-actions-list_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px 60px;
}

@media only screen and (max-width: 1024px) {
  .cn-actions-list_items {
    grid-gap: 40px 40px;
  }
}

@media only screen and (max-width: 800px) {
  .cn-actions-list_items {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}

.cn-actions-list_item {
  position: relative;
  padding-bottom: 70px;
}

@media only screen and (max-width: 1024px) {
  .cn-actions-list_item {
    padding-bottom: 58px;
  }
}

.cn-actions-list_item::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  background: #f5f8fa;
  border-radius: 5px;
  transition: opacity 0.25s ease-in-out;
}

.cn-actions-list_image {
  width: 100%;
}

.cn-actions-list_image img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.cn-actions-list_btn {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 21px 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #00953e;
  border-radius: 5px;
  border: none;
  width: 100%;
  color: #fff;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.15;
  transition: opacity 0.25s ease-in-out;
}

@media only screen and (max-width: 1024px) {
  .cn-actions-list_btn {
    padding: 15px 20px;
    pointer-events: all;
  }
}

.cn-actions-list_btn:active {
  opacity: 0.7;
}

@media (hover),
(min-width:0\0),
(min--moz-device-pixel-ratio:0) {
  .cn-actions-list_item::before {
    opacity: 0;
  }

  .cn-actions-list_btn {
    opacity: 0;
    pointer-events: none;
  }

  .cn-actions-list_item:hover::before {
    opacity: 1;
  }

  .cn-actions-list_item:hover .cn-actions-list_btn {
    opacity: 1;
    pointer-events: all;
  }

  .cn-actions-list_item:hover .cn-actions-list_btn:hover {
    opacity: 0.7;
  }
}

.composite-container {
  min-height: 115px;
  position: relative;
  padding-top: 0px;
  align-items: baseline;
}

.inner_food_string {
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-size: 12px;
}

.mobile-app-notification {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 14px 10px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
}

.mobile-app-notification-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-app-notification__col {
  display: flex;
  align-items: center;
}

.mobile-app-notification__logo {
  width: 32px;
  height: 32px;
}

.mobile-app-notification__title {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin-left: 5px;
}

.mobile-app-notification__install {
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  background: #EC2E32;
  border-radius: 6px;
  padding: 6px 17px;
  text-decoration: none !important;
  transition: 0.15s ease-in-out;
}

.mobile-app-notification__install:hover {
  opacity: 0.7;
}

.mobile-app-notification__close {
  background: rgba(255, 255, 255, 0.7);
  width: 16px;
  height: 16px;
  margin-left: 9px;
  position: relative;
  border: none;
  padding: 0;
  border-radius: 50%;
}

.mobile-app-notification__close span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 1px;
  transform: translate(-50%, -50%) rotate(-45deg);
  background: rgba(0, 0, 0, 0.7);
  display: inline-block;
}

.mobile-app-notification__close span::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 1px;
  display: inline-block;
  content: "";
  background: rgba(0, 0, 0, 0.7);
  transform: rotate(90deg);
}
/* modal */
.cn-modal.mfp-bg {
	opacity: 0.4;
}

.cn-modal .modal {
	position: relative;
	background-color: #fff;
	width: auto;
	max-width: 900px;
	margin: 50px auto;
	padding: 30px;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.3);
}

.cn-modal .modal_size_large {
	max-width: 1366px;
}

.cn-modal .mfp-close {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 28px;
	height: 28px;
	display: flex;
	text-decoration: none !important;
	color: var(--color-modal-close);
	font-size: 28px;
}

.cn-modal .mfp-close i {
	pointer-events: none;
}

/* modal calc time delivery */
.cn-modal .delivery-time-modal {
	padding: 0;
}

.delivery-time-modal_header {
	padding: 72px 20px 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.delivery-time-modal_title {
	font-family: "PTSans";
	margin: 0 0 16px 0;
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
}

.delivery-time-modal_form {
	width: 100%;
	max-width: 770px;
	margin: 0 auto;
}

.delivery-time-modal_form > *{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 -15px;
}

@media only screen and (max-width: 768px) {
	.delivery-time-modal_form > *{
		margin: 0 -10px;
	}
}

@media only screen and (max-width: 600px) {
	.delivery-time-modal_form > *{
		flex-wrap: wrap;
	}
}

.delivery-time-modal-select-address .form-item {
	flex-grow: 1;
}

@media only screen and (max-width: 600px) {
	.delivery-time-modal-select-address .form-item,
	.delivery-time-modal-select-address .form-item + .btn {
		flex: 0 0 100%;
	}
}

.delivery-time-modal-select-address .form-item:not(.valid-address) + .btn {
	pointer-events: none;
}

@media only screen and (max-width: 600px) {
	.delivery-time-modal-select-address .form-item + .btn {
		margin-top: 15px;
	}
}

.delivery-time-modal-result > *,
.delivery-time-modal-select-address > * {
	margin: 0 15px;
}

@media only screen and (max-width: 768px) {
	.delivery-time-modal-result > *,
	.delivery-time-modal-select-address > * {
		margin: 0 10px;
	}
}

@media only screen and (max-width: 600px) {
	.delivery-time-modal-result > * {
		margin: 0;
	}

	.delivery-time-modal-result_time {
		margin-left: 12px;
	}

	.delivery-time-modal-result .btn_type_gradient-green {
		flex: 0 0 100%;
		margin-top: 15px;
	}
}

.delivery-time-modal-result_time {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background: #F5F5F5;
	border-radius: 9px;
	padding: 11px 16px;
	min-height: 70px;
}

@media only screen and (max-width: 768px) {
	.delivery-time-modal-result_time  {
		min-height: 46px;
	}
}

.delivery-time-modal-result_text {
	display: flex;
	flex-direction: column;
	margin-left: 16px;
	font-family: "PTSans";
}

.delivery-time-modal-result_text strong {
	font-weight: 700;
	font-size: 22px;
	line-height: 24px;
	color: #00b05d;
}

.delivery-time-modal-result_text strong span {
	color: #ff6363;
	margin-right: 6px;
}

.delivery-time-modal-result_text span {
	font-size: 16px;
	line-height: 18px;
	color: #555555;
}

@media only screen and (max-width: 768px) {
	.delivery-time-modal-result_time {
		padding: 7px 14px;
	}

	.delivery-time-modal-result_time svg {
		width: 30px;
		height: 30px;
	}

	.delivery-time-modal-result_text strong {
		font-size: 16px;
		line-height: 18px;
	}

	.delivery-time-modal-result_text span {
		font-size: 12px;
		line-height: 14px;
	}
}

.delivery-time-modal-result .delivery-time-modal-result_time,
.delivery-time-modal-result .btn_type_gradient-green {
	flex-grow: 1;
}