include form/number-field.pug

mixin basket-catalog-item(id, product)
	li.basket-catalog-item(class=(product.total == 'free' ? 'basket-catalog-item_free' : ''), data-product-id=id)
		.basket-catalog-item__img
			.basket-catalog-item__tags.product-item__tags
				i.icon-leaf(data-text="Зелень в составе")
				i.icon-night(data-text="Продукт месяца")
			a(href="javascript:void(0);")
				img(src="./images/dev/product-item.png", alt="")
		.basket-catalog-item-content
			.basket-catalog-item-header
				a(href="javascript:void(0);")
					h3.basket-catalog-item__name= product.name
				if(product.mod)
					span.basket-catalog-item__mod= product.mod
			.basket-catalog-item__components= product.components
		.basket-catalog-item__price 
			span= product.price
			i.icon-rub
		if (product.total != 'free')
			+number-field('catalog-item-'+id, true, false, 'basket-catalog-item__amount', product.amount)
		.basket-catalog-item__total
			if(product.total != 'free')
				span= product.total 
				i.icon-rub
			else 
				| Бесплатно в подарок
		if (product.total != 'free')
			button.basket-catalog-item__remove(data-delete-product)
				span Удалить
				i.icon-close

