include form/number-field.pug

mixin catalog-product(id, product, category, isComposite = false)
	// если в корзине то доп класс product-item_in-cart
	li.product-item(data-product-id=id)
		a.product-item__like(href="javascript:void(0)" data-product-like)
			i(class=(id%2 ? 'icon-heart-outline' : 'icon-heart'))
		if (product.tags.length > 0)
			.product-item__tags
				each tag in product.tags
					case tag
						when 'discount'
							i.icon-discount(data-text="Акция")
						when 'fire'
							i.icon-fire(data-text="Острый")
						when 'hit'
							i.icon-hit(data-text="Популярный")
						when 'new'
							i.icon-new(data-text="Новинка")
						when 'onion'
							i.icon-onion(data-text="Лук в составе")
						when 'salad'
							i.icon-salad(data-text="Овощной")
		.product-item__img
			a.product-popup(href="javascript:void(0);")
				img(src=product.img ? product.img : './images/dev/product-item.png')
		.product-item__content
			a.product-item__name.product-popup(href="javascript:void(0);")= product.name
			.product-item__props
				span.product-item__prop 675 г.
				span.product-item__prop 8 шт.
				span.product-item__prop 130 ккал./100 г.
			span.product-item__components= product.components
			if (product.mods.length > 0)
				.product-item__modificators
					each mod, i in product.mods
						label.product-item__modificator
							input(type="radio", checked=!i, name='product-mod-' + category + '-' + id)
							span= mod
					.product-item__modificator-background
		.product-item__footer
			span.product-item__price
				span= product.price
				i.icon-rub
			span.product-item__prop= product.portion + 'г'
			.product-item__actions
				button.btn.btn_type_gradient-red.btn_size_sm.product-item__btn(data-btn-add-to-cart)
					span Заказать
				+number-field(category + '-' + id, isBig = true, false, 'product-item__amount', 0)