mixin catalog-product-composite(id, product)
	// если в корзине то доп класс product-item_in-cart
	li.product-item.product-item_composite(data-product-id=id, data-composite-foods=product.foods, data-composite-count=product.count)
		a.product-item__like(href="javascript:void(0)" data-product-like)
			i(class=(id%2 ? 'icon-heart-outline' : 'icon-heart'))
		.product-item__img
			a.product-popup(href="javascript:void(0);")
				img(src=product.img ? product.img : './images/dev/product-item.png')
		.product-item__content
			a.product-item__name.product-popup(href="javascript:void(0);")= product.name
			span.product-item__components= product.components
		.product-item__footer
			span.product-item__price
				span= product.price
				i.icon-rub
			span.product-item__prop= product.portion + 'г'
			.product-item__actions
				button.btn.btn_type_gradient-red.btn_size_sm.product-item__btn.product-popup
					span Заказать