include form/number-field.pug

mixin extra-product(name)
	li.extra-product
		.extra-product__img
			img(src="./images/dev/extra.png", alt="")
		.extra-product__name= name
		+number-field('extra-product', true, false, 'extra-product__amount', 99)
		.extra-product__price
			| 25
			i.icon-rub
		.extra-product__free
			| Бесплатно 
			strong.color-green 2 шт.