include ../mixins/form/number-field.pug

mixin header-basket-product(product)
	.header-basket-product(data-product-id="101", data-composite=(product.composition ? '100, 101, 102, 103' : ''))
		.header-basket-product__img
			img(src=product.img, alt=product.name)
		.header-basket-product__body
			.header-basket-product__header
				h3= product.name
				if (product.modificator)
					span= product.modificator
			if (product.composition)
				.header-basket-product__composition= product.composition
		.form-item__number.header-basket-product__amount(data-header-cart-product-amount)
			button(data-type="remove")
				i.icon-minus
			input(type="text" name="amount" readonly)
			button(data-type="add")
				i.icon-plus
		.header-basket-product__sum
			span= product.sum
			i.icon-rub
		button.header-basket-product__delete.icon-close(data-header-cart-product-delete)