include mixins/form/text-field.pug
include mixins/extra-product.pug

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Корзина
    link(href='./old/css/normalize.css', rel='stylesheet')
    link(href='./old/css/owl.carousel.min.css', rel='stylesheet')
    link(href='./old/css/owl.theme.default.css', rel='stylesheet')
    link(href='./old/css/jquery.fancybox.min.css', rel='stylesheet')
    link(href='./old/css/magnific.css', rel='stylesheet')
    link(href='./old/css/jquery-ui.css', rel='stylesheet')
    link(href='./old/css/jquery.timepicker.css', rel='stylesheet')
    link(rel="shortcut icon", href="./images/favicon-32x32.png", type="image/png")
    link(rel="shortcut icon", href="./images/favicon.ico", type="image/x-icon")
  body
    .content
      include includes/header.pug
      main.main.inner-page
        .container
          h1.page-title Корзина

          .basket-promocode
            form
              +text-field('promocode', '', false, 'basket-promocode__field', '', 'Промокод')
              button.btn.btn_size_md.btn_type_green-outline
                span Применить

          include includes/basket-catalog.pug

          hr

          .basket-extra
            ul.ul.basket-extra__products
              each name in ['Палочки', 'Соевый соус', 'Васаби + Имбирь']
                +extra-product(name)
            .basket-extra__promo

          .basket-footer
            .basket-total
              .basket-total__bonus
                span Бонусов получите:
                strong.color-green +25 Б
              .basket-total__sum
                span Сумма вашего заказа:
                span 
                  | 1 500
                  i.icon-rub
              p 
                | Бесплатная доставка при заказе на сумму от 1000 рублей. 
                br
                | В отдаленные районы минимальную сумму заказа уточняйте у оператора.

            .basket-buttons
              button.btn.btn_size_md.btn_type_green-outline
                span Вернуться в меню
              button.btn.btn_type_gradient-red
                span Оформить заказ

    include includes/offer-bar.pug

    include includes/footer.pug
