include mixins/form/text-field.pug

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Оформление заказа
    link(href='./old/css/normalize.css', rel='stylesheet')
    link(href='./old/css/owl.carousel.min.css', rel='stylesheet')
    link(href='./old/css/owl.theme.default.css', rel='stylesheet')
    link(href='./old/css/jquery.fancybox.min.css', rel='stylesheet')
    link(href='./old/css/magnific.css', rel='stylesheet')
    link(href='./old/css/jquery-ui.css', rel='stylesheet')
    link(href='./old/css/jquery.timepicker.css', rel='stylesheet')
    link(rel="shortcut icon", href="./images/favicon-32x32.png", type="image/png")
    link(rel="shortcut icon", href="./images/favicon.ico", type="image/x-icon")
  body
    .content
      include includes/header.pug
      main.main.inner-page.checkout-page
        .container
          h1.page-title Оформление заказа

          .checkout
            form.checkout-form
              include includes/checkout/checkout-delivery.pug
              hr
              include includes/checkout/checkout-payment-bonuses.pug
              hr
              include includes/checkout/checkout-time.pug
              hr
              include includes/checkout/checkout-payment.pug

            include includes/checkout/checkout-total.pug

    include includes/offer-bar.pug

    include includes/footer.pug
