doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Спасибо за ваш заказ
    link(href='./old/css/normalize.css', rel='stylesheet')
    link(href='./old/css/owl.carousel.min.css', rel='stylesheet')
    link(href='./old/css/owl.theme.default.css', rel='stylesheet')
    link(href='./old/css/jquery.fancybox.min.css', rel='stylesheet')
    link(href='./old/css/magnific.css', rel='stylesheet')
    link(href='./old/css/jquery-ui.css', rel='stylesheet')
    link(href='./old/css/jquery.timepicker.css', rel='stylesheet')
    link(rel="shortcut icon", href="./images/favicon-32x32.png", type="image/png")
    link(rel="shortcut icon", href="./images/favicon.ico", type="image/x-icon")
  body
    .content
      include includes/header.pug
      main.main.inner-page.checkout-final-page
        .container
          .checkout-final
            .checkout-final__header
              i.icon-svg-check
              .checkout-final__title
                h1 Спасибо за ваш заказ
                span Он будет обработан в ближайшее время

            .checkout-final-delivery
              .checkout-final-delivery-wrap
                .checkout-final-delivery__info
                  ul.ul
                    li
                      span Номер вашего заказа
                      strong 459128
                    li
                      span Ввремя доставки
                      strong 14:00 
                    li
                      span Адрес доставки
                      strong Красноярск, ул. Капитанская д. 11 кв. 3
                    li
                      span Способ оплаты
                      strong Наличный расчёт при получении
                .checkout-final-delivery-time
                  .checkout-final-delivery-time__minutes
                    span 126
                    span минут
                  p Осталось времени до доставки

            include includes/checkout-final-basket.pug

            include includes/checkout-final-total.pug


    include includes/offer-bar.pug

    include includes/footer.pug
