doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Главная
    link(href='./old/css/normalize.css', rel='stylesheet')
    link(href='./old/css/owl.carousel.min.css', rel='stylesheet')
    link(href='./old/css/owl.theme.default.css', rel='stylesheet')
    link(href='./old/css/jquery.fancybox.min.css', rel='stylesheet')
    link(href='./old/css/magnific.css', rel='stylesheet')
    link(href='./old/css/jquery-ui.css', rel='stylesheet')
    link(href='./old/css/jquery.timepicker.css', rel='stylesheet')
    link(rel="shortcut icon", href="./images/favicon-32x32.png", type="image/png")
    link(rel="shortcut icon", href="./images/favicon.ico", type="image/x-icon")
  body
    .content
      include includes/header.pug
      main.main
        .slider-container
          .slider-inner-container
            .main-slider.owl-carousel.owl-theme
              div
                .main-slider_content
                  img(src='/images/banner.jpg', title='акция')
        .container
          include includes/main-catalog.pug

    include includes/offer-bar.pug

    include includes/footer.pug
