@import "base/mixins";
@import "base/root";
@import "base/icon";
@import "base/grid";

@import "old/fonts";
@import "old/style";

@import "components/materialize/modal";
@import "components/materialize/datepicker";
@import "components/materialize/timepicker";
@import "components/button";
@import "components/form/index";
@import "components/modal";
@import "components/tabs";
@import "components/header";
@import "components/header-basket";
@import "components/header-basket-product";
@import "components/mobile-menu";
@import "components/offer-bar";
@import "components/catalog-product";
@import "components/basket-catalog-item";
@import "components/extra-product";

.icon-rub {
	font-size: 100%;
	position: relative;
	top: 0.11em;
	margin-left: 2px;
	color: var(--dark-gray);
}

.color-red {
	color: var(--red) !important;
}

.color-green {
	color: var(--green) !important;
}

.main {
	padding-bottom: 120px;
	flex-grow: 1;
	max-width: 100%;
	margin-top: 56px;
}

.page-title {
	font-family: "BebasNeue", sans-serif;
	font-weight: 700;
	font-size: 60px;
	line-height: 60px;
	margin-top: 0;
	margin-bottom: 23px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
}

hr {
	border: 0;
	border-bottom: 1px solid var(--background);
	margin-top: 24px;
	margin-bottom: 24px;
}

.color-green {
  color: var(--green) !important;
}

.color-black {
  color: #000 !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    font-size: 14px;
    line-height: 1;

    &:first-of-type {
      border-radius: 12px 0 0 12px;
    }

    &:last-of-type {
      border-radius: 0 12px 12px 0;
    }
  }

  thead {
    tr {
      background: linear-gradient(to bottom, #e15959, #e96f54);

      th {
        padding: 19px 16px;
        font-weight: bold;
        color: #fff;
      }
    }
  }

  tbody {
    tr {
      &:nth-of-type(even) {
        background: var(--background);
      }

      td {
        padding: 20px 16px;
        color: var(--paragraph);
      }
    }
  }
}

@import "pages/index";
@import "pages/basket";
@import "pages/checkout";
@import "pages/checkout-final";